[2018-11-22 20:45] maryammokhberi opened #278 "Adding quality control info of scans in BIDS folder"
Hi all,

I am reaching out from Rotman Research Institute, Toronto, to ask a question about heudiconv. It has been a while that I am working with this converter to convert our dataset of ~5500 subjects into BIDS format.

Here in our lab, we generate manual QC reports (e.g usability of the files and short description notes) for the scans and would like to include them in the converted BIDS folders

[2018-11-28 04:38] DVSneuro opened #280 "conflicting study identifiers in ABCD data"
Hi, I'm using heudiconv to convert some of the ABCD data into BIDS format, but it seems to only be working on data collected on the Siemens scanner. For the other scanners, I'm getting the error below.

INFO: Running heudiconv version 0.5.2-dev
INFO: Need to process 1 study sessions
INFO: PROCESSING STARTS: {'subject': 'NDARINVE367LYLC', 'outdir': '/output/', 'session': None}
INFO: Processing 4997

[2018-11-28 04:54] yarikoptic commented on #280
I guess that study (i.e. sessio)n was interrupted, subject was taken out, put back in and and some sequences reran?

you could try using grouping by accession -- `-g accession_number`, and eventually we should finish or redo #200

[2018-11-28 18:35] yarikoptic commented on #280
by any chance -- do you have phantom runs on all the scanners using ABCD protocols/sequences which could potentially be shared publicly? would make it easier to implement all needed/desired support

[2018-11-28 19:16] DVSneuro commented on #280
I don't, but I'll look into that. In theory, all of their data should be released in BIDS format, but that is not currently the case, at least from what I've seen.
https://www.biorxiv.org/content/early/2018/11/04/457739

[2018-11-28 20:45] sjburwell commented on #126
Greetings,

I have a similar issue to the above whereby heudiconv (docker implementation, 0.5.dev1) throws a conflicting study error (see below). For this participant/session, there was a system error and the console needed to be rebooted midway through the session. Thus, the scanning took place on the same day (and proximal in time, i.e., the same "session"), but the dicoms have different study i

[2018-11-29 18:07] sjburwell commented on #280
Greetings,

I have a related issue to the above whereby heudiconv (docker implementation, 0.5.dev1) throws a conflicting study error (see below). For this participant/session, there was a system error and the console needed to be rebooted midway through the session. Thus, the scanning took place on the same day (and proximal in time, i.e., the same "session"), but the dicoms have different study i

[2018-12-02 23:10] daeh opened #281 "anon-cmd interprets function returns as bytes literal strings"
When I call a python script using `anon-cmd`, the new subject id that the python script returns gets interpreted as a bytes literal string by heudivonv so the files end up reading like `sub-b'test001'_task-rest_bold.nii.gz` and `task-rest_bold.json`and `sub-b_scans.tsv`. Does it make sense to change line 108 in `utils.py` to be `return check_output(cmd).strip().decode()` or should I be passing the

[2018-12-05 17:56] yarikoptic opened #284 "OPTimize find_files"
@mgxd raised a [valid concert](https://github.com/nipy/heudiconv/pull/279#discussion_r236759431) that currently used `find_files` could be prohibitively and unnecessarily expensive procedure.  We should look into avoiding that.  E.g. for a bids dataset, searching for some `sub-.*` files should be constrained to only go through `sub-*` subdirectories, avoiding possibly present other (`sourcedata/`

[2018-12-05 20:58] dkp opened #285 "Reverse phase encode image misreported in"
dicominfo.tsv incorrectly reports my reverse phase encode B0 image to be dim3=148 and dim 4=1 when the reality is that dim3=74 and dim4=2. dcm2niix correctly reconstructs the image, but any attempt to check the criteria in convertall.py fails if you set the true parameters.

[2018-12-05 21:13] mgxd opened #286 "concurrent datalad operations?"
When concurrently converting across multiple participants while using `--datalad`, heudiconv terminates before completion due to git `index.lock` files and the dataset is not put under version control.

Perhaps [OpenNeuroOrg/datalad-service](https://github.com/OpenNeuroOrg/datalad-service) can be some inspiration

[2018-12-05 22:22] yarikoptic commented on #286
Yeap, a known limitation of the git and even you greater degree of datalad. No easy way around unfortunately ATM.
OpenNeuro datalad backend unlikely to have this issue since unlikely had multiple datalad invocations dinner on parallel in the same dataset, and they don't manage a hierarchy of the datasets.
They only workaround is to not use --datalad mode ATM and perform datalad add later for the e

[2018-12-06 01:56] satra commented on #286
one possibility may be to stage the info into separate uuid branches and then merge it later in one go after conversion.

[2018-12-10 13:57] yarikoptic opened #287 "Support .gz'ipped DICOM files conversion"
I haven't looked at yet either dcm2niix handles them but I guess on python side there should also be support for them if want to handle them "natively" without first extracting to some TEMPDIR

[2018-12-17 19:10] dkp opened #288 "with and without --overwrite"
I believe you may have dealt with similar topics, so sorry if this is a repetition... I don't see this explicitly in the issues. If I have 2 runs to convert, I expect to get:
sub-220_ses-foo_task-rest_run-01_bold.json
sub-220_ses-foo_task-rest_run-01_bold.nii
sub-220_ses-foo_task-rest_run-01_bold.nii.gz
sub-220_ses-foo_task-rest_run-01_events.tsv
sub-220_ses-foo_task-rest_run-02_bold.json
sub-220_

[2018-12-19 17:15] yarikoptic opened #289 "double check acq_time assignment in _scans file"
[code]

as you can see in the scans file -- both T1w1 and T1w2 (I know -- awkward name) are having the same time

[code]

[2018-12-19 20:41] pvelasco commented on #285
Similar issue here: I have a series of DWI with 6 directions + 1 b-value=0, 45 slices.  There is one file per slice, for a total of 315 files (I forgot to turn the "mosaic" on).  `dicominfo.tsv` incorrectly reports `dim3 = 315` and `dim4 = 1`.  `dcm2niix` does the right thing and outputs a 4D file with 45 slices and 7 volumes.
The same happens with other runs with different number of directions.
I

[2018-12-25 23:38] #246 closed

[2018-12-25 23:38] #281 closed

[2018-12-30 10:37] mattvan83 opened #291 "ERROR: Embedding failed: 'odict_values' object does not support indexing & BIDS validator"
Dear Heudiconv's experts,

I have run heudiconv docker image on FDG PET data with the following command line et execution message:
[code]

It seems that there is an error of embedder following the message above:
[code]
What is the impact of this error ?

Moreover, it seems that my BIDS PET data are in wrong format according BIDS validator:
[code]
I have used the following heuristics:
[code]

Thank

[2019-01-04 15:40] mgxd commented on #291
hi @mattvan83 - when embedder fails it usually means your `json` sidecar wasn't able to be filled with all the information present in the DICOMs. To avoid this and use only the values provided by `dcm2niix`, you can use the `--minmeta` flag.

[2019-01-05 04:42] #277 closed

[2019-01-07 14:49] #243 closed

[2019-01-08 19:51] #249 closed

[2019-01-10 14:22] neurolabusc commented on #287
dcm2niix will not detect DICOMs. compressed with GZ (or any other method). In theory, one could rapidly decompress the first 132 bytes of each GZip file to look for the "DICM" signature. This will accurately detect DICOM images with the part 10 meta header. However, this algorithm would fail to detect DICOM data stored without this header. The issue becomes how much of the file must be decompresse

[2019-01-11 14:59] yarikoptic commented on #6
I would agree that I think it makes sense to switch to a native call to dcm2niix to avoid dependency on a lovely but relatively heavy nipype from which we just use a single interface.

[2019-01-11 18:42] mgxd commented on #158
@emdupre if you have access to any multi-echo sequences, we would love to have some more testing on #293 if you're willing to give it a chance :smile:

[2019-01-11 18:48] mgxd commented on #288
@dkp can you share a few things?
- heudiconv version
- heuristic
- conversion log
- dicominfo

Thanks!

[2019-01-11 21:08] yarikoptic commented on #158
yes, please @emdupre , without your blessing this functionality will miss the next point release! ;)

[2019-01-11 21:12] emdupre commented on #158
I don't have access to those dicoms, unfortunately, but I asked @handwerkerd, and he's looking into it !

[2019-01-15 09:50] Tahll opened #296 "Processing 0 sessions"
Dear all,
Iam trying to use heudiconv within docker for the first time. Unfortentuately, I only got the Info messages:

Maybe I set the path to my dicoms wrongly. However, I have no idea why. Here is my folder structure and the command I use in docker. Please note since it is the first time I use heudiconv I oriented myself at the BIDS Tutorial Series: HeuDiConv Walkthrough (http://reproducibility

[2019-01-15 14:55] mgxd commented on #296
hi @Tahll - it looks like your DICOM files are not being found.

One problem could be your `-ss` is looking for `ses-001`, but its listed in your directory tree as `ses-01`?

You could also try to shell into the container and interactively check your paths with:
[code]

[2019-01-15 15:30] #296 closed

[2019-01-23 18:48] greydongilmore opened #297 "pass additional arguments to dcm2niix"
### Summary

I am wondering if it's possible to pass additional arguments to dcm2niix? I am running a conversion of MRI and CT sequences. Some of the CT sequences have a Gantry tilt and I would like to pass ```-m y```  to dcm2niix.

### Platform details:

Choose one:
- [x] Local environment
- [ ] Container

- Heudiconv version: 0.5.2

[2019-01-23 18:55] mgxd commented on #297
Hi Greydon,

There was a PR in limbo for this very functionality (#208) - I've merged it in now. Refer to [this comment](https://github.com/nipy/heudiconv/issues/206#issuecomment-388981312) on how to force stacking with this new option

[2019-01-28 03:40] DVSneuro commented on #280
@yarikoptic Sorry for the slow follow up on this. The ABCD team didn't want to share the phantom data (they also didn't think it would be helpful since it apparently doesn't include the same sequences as the human data). Would it be possible for me to privately share some of the problematic data? I'm still still seeing the same issue with the latest version of HeuDiConv (0.5.4.dev1). Thanks again!

[2019-01-28 03:58] yarikoptic commented on #280
@DVSneuro, sure, let's continue via email

[2019-01-29 18:20] CristianBucCalderon opened #298 "no creation of .heudiconv folder"
Any help would be appreciated :),
I have docker toolbox (as I have windows 10 Family edition); and I am running the following lines:

docker run --rm -it \
-v /../../HeudiconvWalkthrough:/base \
nipy/heudiconv:latest \
-d /base/Dicom/sub-{subject}/ses-{session}/SCANS/*/DICOM/*.dcm \
-o /base/Nifti/ \
-f convertall \
-s 01 \
-ss 001 \
-c none \
--overwrite

the output I receive is the following:

[2019-01-29 18:35] mgxd commented on #298
Hi Cristian,

This sounds similar to #296 - my guess is something is wrong during the docker run command.

You may find it easier to debug this interactively within the container, as outlined in the comment here https://github.com/nipy/heudiconv/issues/296#issuecomment-454420176

[2019-01-29 22:34] tjhendrickson opened #299 "Heudiconv Nonfunctional within Latest Docker Image"
### Summary

### Platform details:

Choose one:
- [ ] Local environment

- [x] Container

- Heudiconv version:

[2019-01-29 22:37] tjhendrickson commented on #299
I use the nipy/heudiconv container within a singularity container to convert my data to BIDS. Here is my call:
singularity run -B /home/range2-raid1/timothy/BIDS/Data_READISCA_U01/:/output_dir -B /home/naxos2-raid14/ywpark-data/Data_READISCA_U01/DICOM:/dicom_dir -B /home/rosalind2-raid1/ywpark/Scripts_BIDS/test_heuristic.py:/heuristic.py /home/range2-raid1/timothy/singularity_images/tjhendrickson-

[2019-01-29 23:47] yarikoptic commented on #299
looking at

/home/range2-raid1/timothy/singularity_images/tjhendrickson-BIDS_scripts-master-latest.simg
and
INFO: Running heudiconv version 0.5.4.dev1

it seems to be you who built your own Singularity image and run master version... if you want singularity images with heudiconv, there is e.g. our reproin images of which we have a number of versions available from the singularity hub: https://www.

[2019-01-30 16:37] oesteban opened #300 "ValueError triggered by "File not large enough""
### Summary
[code]

### Platform details:

Choose one:
- [ ] Local environment

- [x] Container

Singularity image built with docker2singularity

- Heudiconv version:
0.5.2-dev

[2019-01-31 20:34] tjhendrickson commented on #299
We don’t have to get to into the details of what I have done. I have a separate application within my image to act as a wrapper to heudiconv. I’ll look at the url you sent me so I can incorporate a previous version into my image.

Thanks!!

Tim

Sent from my iPhone

[2019-02-01 17:42] fhopp opened #302 "Issues w/ slurm"
Greetings,

heudiconv version 0.5.3.

I am trying to run a basic heudiconv on one subject for testing w/ slurm (running on two nodes, partition name = heudiconv) to create my heuristic.

1) Command as follows:

heudiconv -d /srv/lab/fmri/mft/dicom4bids/data/{subject}*/* -f /srv/lab/fmri/mft/dicom4bids/data/convertall.py -s sub01 -q heudiconv -o /srv/lab/fmri/mft/dicom4bids/data/output/

This yield

[2019-02-01 19:31] Shotgunosine opened #303 "Don't include null bytes in dataset trailing padding in BIDS json"
### Summary
Moving [this issue](https://github.com/rordenlab/dcm2niix/issues/266) from dcm2niix to heudiconv.

Here's the text of the original issue with small changes as appropriate:
I've been helping debug an issue that came up with MRIQC that we eventually tracked back to a bunch of null bytes in the json produced by dcm2niix used with heudiconv. The null bytes are stored in the JSON under the

[2019-02-01 22:16] yarikoptic commented on #303
a sample file would be a plus!
without it -- I guess we (or dcmstack which we use to extract all of those additional fields) should in general just sanitize fields/values.... was it just the null bytes stored in that field? how did that look in json?

[2019-02-04 16:23] Shotgunosine commented on #303
The offending field in the JSOn looks like this:
[code]

[2019-02-04 16:27] Shotgunosine commented on #303
While a more general solution might be good, this specific field is always just going to be full of null bytes when it's present if I'm understanding the discussion of it in that google groups link I posted above

[2019-02-04 17:10] oesteban commented on #300
[code]

I have found that there is a similar file in another directory under the same subject, also 410 long and with the same prefix (10) in the protocol:
[code]

So I'm thinking that maybe the dataset is just corrupted. Maybe you can use this feedback to allow heudiconv handle the situation in a more informative way, but it seems that this is a problem of the dataset.

[2019-02-04 22:52] #158 closed

[2019-02-06 10:58] smoia commented on #162
Hello,
I tried to use the latest pip version of heudiconv (0.5.4.dev1, after #293 had been merged) to convert a Multi-Echo dataset that I'm acquiring now from DICOMs to BIDS format.
I used the following command:
`heudiconv -d /experiment/{subject}/acq/*/* -s 001 -c none -o MEBIDS -f bids_ME -b --minmeta --overwrite`

Each each folder (one per run) in "acq" contains all the DICOMS from all the echo

[2019-02-06 15:29] mgxd commented on #162
@smoia we haven't pushed a new release yet, so you will have to install directly from the master branch:
`pip install -U  https://github.com/nipy/heudiconv/archive/master.zip`

FYI, I would recommend making your own heuristic instead of using the `bids_ME` premade heuristic - it is tailored to some specific data and probably will not work with yours. And also specifying `-c none` will only group t

[2019-02-06 15:38] smoia commented on #162
Thank you @mgxd,
To update, I actually used the command:
`pip install https://github.com/nipy/heudiconv/archive/master.zip --upgrade`
I know that `-c none` doesn't do the actual conversion, but I thought that I could modify the heuristic file after seeing the content of `.heudiconv/{subject}/info/dicominfo.tsv`. which is what I was trying tot create with my line of code.
Sorry for not having been

[2019-02-06 15:57] mgxd commented on #162
Ah, okay! Yes, currently the dicominfo will show one row across a ME acquisition, with dim4 as being number of echoes * volumes like you said.

What #293 did is if the `--bids` option is specified, it will automatically add the `_echo-<>` field to your heuristic key across all echoes. So you wouldn't have to specify <echo> directly (see the [bids_ME heuristic](https://github.com/nipy/heudiconv/blo

[2019-02-06 18:26] smoia commented on #162
I see! Ok, then I'll try to continue with the test. By the way, I can provide some ME fMRI data if somebody else wants to test it too.

Thank you again!

[2019-02-06 19:09] #302 closed

[2019-02-06 19:15] toddt opened #305 "anonymization and the .heudiconv directory"
This is related to issue #246 that was partially fixed in #283.

#283 changed the .heudiconv output so that the BIDS/.heudiconv/SUBJECT directory reflected the anonymous ID instead of the original one. However, the original ID is still present in filenames (and files!) inside that info directory. For example, inside the dicominfo.tsv is a patient_id field that's populated with the original ID, ins

[2019-02-06 19:34] mgxd commented on #303
@Shotgunosine have you tried using the `--minmeta` flag? That should reduce the # of fields in your sidecar files to just `dcm2niix` fields.

[2019-02-07 17:45] Shotgunosine commented on #303
Yeah, that fixes the issue. If we want all the fields other than the ones that break things, we can just filter them out ourselves afterwords.

[2019-02-07 21:17] yarikoptic commented on #303
I would say - let's keep it open... the issue is there

[2019-02-11 17:20] toddt opened #307 "default permissions for fmap directory (especially json) should not be read-only"
Heudiconv makes an effort to write-protect output files, but this is a little bit wonky -- in the fmap directory, some (but not all!) outputs are set to read-only permission.

Two things:
1) this should probably be consistent behavior across heudiconv outputs. If some outputs are read-only, they probably all should be.

2) It might be better to have the default *not* be read-only, since the fmap .

[2019-02-11 18:12] #291 closed

[2019-02-13 16:10] mgxd commented on #307
1) Which files are not set to read-only?
2) I think the benefit of reducing accidental deletions outweighs the (minor) inconvenience of a quick `chmod` - besides, the `IntendedFor` field is still optional for BIDS compliance no?

re: `IntendedFor` - it may be worthwhile to play around with the heuristic's `custom_callable` attribute
https://github.com/nipy/heudiconv/blob/8be2e9b9f90dd61b1285b08fbb

[2019-02-13 16:25] mgxd commented on #305
I think the original idea when implementing anonymous conversion was to produce the data in a separate output directory from the conversion files (basically everything in the generated `.heudiconv` directory) - allowing shareable, de-identified data.

I prefer to still generate the `.heudiconv` directory, and just fix the original subject names. Would you be up for submitting a PR?

[2019-02-13 17:39] toddt commented on #307
1. If I have a siemens style field map, with 2 magnitude images and a phasediff, the 2 magnitude images and their json files are RW, while the phasediff file is R.

2. I don't think IntendedFor is necessary for BIDS compliance, but it *is* necessary if you want fmriprep to use the field maps for anything. I expect/hope that most people who are using heudiconv and BIDS are planning to use fmriprep,

[2019-02-13 18:37] mgxd commented on #307
Do you still have a log of the conversion? Or can you share the field map DICOMS?

[2019-02-13 18:38] mgxd commented on #302
hi @fhopp - sorry for the late response. We had to make a few changes to get this working again - could you retry your conversion with the latest version of this repo?

[2019-02-13 19:02] toddt commented on #307
I don't have the log handy, but I do have everything else. Since we're
local, I'll just point you to it on openmind:

In /om3/group/saxelab/test_project/data are one participant's dicoms. I ran
the 0.5.4 version of heudiconv with the following script:
bash
/om3/group/saxelab/test_project/scripts/anon_heudiconv_single_subject.sh
test_project EMOfd_heudi.py SAXE_EMOfd_02
to produce the output in /om

[2019-02-13 21:40] yarikoptic opened #309 "A way to add additional DICOM fields, which might have been filtered out by dcmstack"
ATM we use dcmstack to extract additional (when not `--min-meta`) metadata from DICOMs.  One of the pains is that it takes **long** time, probably partially because if I read https://github.com/nipy/heudiconv/blob/master/heudiconv/dicoms.py#L405) correctly we actually pretty much rebuild the entire nifti data as well along the way, even if we care only about the metadata.

But also dcmstack has it

[2019-02-13 22:27] satra commented on #309
@yarikoptic - i think we should do one pass through all the dicoms, build an index, perform grouping, discard fields as needed. the intent was to move these components from dcmstack to nibabel. it's the group and stack function in dcmstack. we should check if pydicom has introduced any grouping option. this would also allow us to support ge and philips scanners better.

a long time ago, we started

[2019-02-25 14:47] adrose commented on #109
Hi, why was this closed? What was the solution for this error?

[2019-02-26 05:45] oesteban opened #311 "JSONDecodeError: Extra data"
### Summary

After updating my docker images to `nipy/heudiconv:latest` and `nipy/heudiconv:unstable`, and checking that both indicated version 0.5.4.dev1:

- `nipy/heudiconv:latest` did not solve #51 .
- `nipy/heudiconv:unstable` solved #51, but the following error happens now:

[code]

### Platform details:

Choose one:
- [ ] Local environment

- [x] Container

- Heudiconv version:

0.5.4.dev1

[2019-02-26 16:47] mgxd commented on #311
@oesteban looks like your root level `task-rest_bold.json` was incorrectly generated/modified - if you can, please share the file and I'll take a look

[2019-02-26 16:54] oesteban commented on #311
It does look bad:

[code]

[2019-02-26 18:33] mgxd commented on #311
I'm not entirely sure how this nonJSON JSON was created - are you altering this file at all? Or running multiple subjects in parallel?

Sidenote: have you tried converting with the `--minmeta` flag? This will simplify your BIDS sidecar files to just the fields provided by dcm2niix.

[2019-02-27 22:16] bpinsard opened #312 "rationale behind seqinfo structure"
I am trying to use heudiconv to convert all the data from one scanner to bids.
I like the fact that we have access to the full power of python to write complex heuristics but the seqinfo given to infotodict is missing a lot of information from the dicoms that would really help identify runs without relying on fields that can be modified at the console like SeriesDescription or else.

For instance,

[2019-02-27 23:33] satra commented on #312
@bpinsard - at this point one could really extend sequence info to probably all dicom tags (except for size and storage). the initial version was based on dicomconvert from freesurfer (and that's where unspecified2/3 also come from.  that conformance is no longer required. however, for backwards compatibility, we would want to keep the existing keys even if we add a lot more metadata. the dicominf

[2019-02-28 14:35] bpinsard commented on #312
@satra Thanks for the quick reply.
I didn't know that the structure was inherited from mri_convert.

Both options would be great, maybe the second one is the simplest and would easily allow to dig info in the proprietary header (eg. csa).
I will try to make these changes in a branch.

[2019-02-28 22:07] arokem opened #313 "DOC: Slide instructions don't work as expected."
The instructions on this slide: http://nipy.org/heudiconv/#3

Do not work as expected. That's because

[code]

If you follow the rest of the instructions, you don't get the data into the right place, because once `source activate` fails, the `cd /dicom` is not executed.

Where is the source of these slides? I can make a PR.

[2019-02-28 22:09] arokem commented on #313
In particular, I believe that the `source activate neuro &&` can be removed with no consequences.

[2019-02-28 22:31] satra commented on #313
here: https://github.com/nipy/heudiconv/blob/gh-pages/presentation.md

[2019-02-28 22:32] satra commented on #313
@arokem - before you update, i think there have been a few changes to the container as well.

[2019-02-28 22:34] satra commented on #313
@mgxd - can i delete latest from docker hub?

[2019-03-01 04:30] mgxd commented on #313
@arokem thank you! there are a few outdated pieces, I was going to push my [slides from the coastal coding workshop](https://github.com/ReproNim/coco2019-training/blob/gh-pages/presentations/heudiconv/presentation.md), but fixing up the current slides would be nice!

@satra - yep feel free to delete (i think anything besides `unstable` is fair game to remove). We will cut a new release soon and sh

[2019-03-01 13:01] satra commented on #313
@mgxd - i'll let you work with @arokem on who should be updating what. seems like its easier for you to do.

on the hub front i have deleted the old images. it would be nice to make a release, so that there is a fixed versioned image people can use.

[2019-03-01 13:02] satra opened #314 "make a niflow"
@mgxd and @effigies - may be worth using heudiconv as an example for a niflow and checking out the various mechanics.

[2019-03-01 13:05] satra commented on #314
mechanics to be tested:
- [ ] installability (`nfm install`)
- [ ] importability (from `niflows.nipy.heudiconv import process_dicoms`)
- [ ] running on the command line (`niflows-nipy-heudiconv ...`)
- [ ] container generation (`nfm build`)
- [ ] testing (`nfm test`)

[2019-03-03 01:29] sethim opened #316 "Unable to pull repository/image with docker."
### Summary

### Platform details:

Choose one:
- [ ] Local environment

- [ ] Container

- Heudiconv version:

[2019-03-03 01:30] sethim commented on #316
Last login: Sun Mar  3 12:24:41 on ttys001
Mokshs-MacBook-Pro-2:~ msethi$ docker pull nipy/heudiconv:latest
Error response from daemon: manifest for nipy/heudiconv:latest not found
Mokshs-MacBook-Pro-2:~ msethi$

[2019-03-03 01:33] satra commented on #316
@sethim - to make clear that `latest`  is not a good tag, we have renamed it as `unstable`. a stable version will be created as soon as #315 is merged. you can pull using: `docker pull nipy/heudiconv:unstable`

[2019-03-03 01:33] #316 closed

[2019-03-03 02:04] sethim commented on #316
Thanks

[2019-03-04 21:37] arokem commented on #313
I think it would be best if @mgxd took a first pass at this. I don't know enough about the tool to do anything cogent (which is why I was looking at the slides in the first place!).

[2019-03-05 20:29] dkp opened #317 "How to use is_derived or is_motion_corrected field"
Hi,

I have written several useful convertall.py scripts, but I'd like to be able to use the fields is_derived and is_motion_corrected as criteria.  I am new to Python.  I see no examples of this on the web.  I've tried several options:

# It never works if I treat TRUE or FALSE as string, so I'm thinking it is a Boolean?
if ('restingstate' == s.protocol_name) and (s.is_derived == 'FALSE'):

[2019-03-06 14:00] yarikoptic opened #318 "Generate participants.json to accompany .tsv where fields are described"
ATM we are generating `participants.tsv` with columns age, sex, group. bids-validator then whines
[code]
We should then create/define something like
[code]

[2019-03-06 14:31] satra commented on #318
and perhaps add some URIs for proper example and definition.

[2019-03-08 15:52] hpfisher3 opened #319 "Treating sessions as individual subjects"
Hello,

I am running heudiconv version 0.5.2 from a singularity container. Everything runs smoothly, but I wanted to get advice about treating each session as an individual subject. We want to parse out the data this way so that fmriprep will process each session without merging T1w images. However heudiconv doesn't run if you don't pass a session id. Would you recommend doing something like this:

[2019-03-08 21:09] araikes commented on #317
Hi @dkp,
This works for me with our scanner info:

[code]

[2019-03-08 22:42] araikes opened #320 "Re-create participants.tsv"
### Summary
Simple question (I hope). I'm using the Dockerized version of heudiconv v 0.5.3. I'm am brute-forcing it to run on my longitudinal data on SLURM by passing the following commands:

[code]

This works just fine and does a great job of converting everything. I know that there's a `-q` option for the standalone version, but it does not work on the Dockerized version.

The "problem" (used

[2019-03-08 23:10] yarikoptic commented on #320
open in editor, sort lines, save in the editor?
or if you have `sponge` installed
[code]
?  or am i missing the point?

[2019-03-08 23:14] araikes commented on #320
Yeah obviously I can do it in editor... Was hoping for something a bit more programmatic so that I can drop it in a script so others don't need to think about it.

[2019-03-08 23:49] dkp commented on #317
Thanks Adam!  Fantastic!

-Dianne

On Fri, Mar 8, 2019 at 2:09 PM araikes <notifications@github.com> wrote:

--
Dianne Patterson, Ph.D.
Research Scientist
dkp@email.arizona.edu <dkp@u.arizona.edu>
or
diannepat@gmail.com
University of Arizona
Speech and Hearing Science 314
1131 E 2nd Street, Building #71
(Just East of Harvill)
==============
If you don't hear back from me (and you expected to),
I b

[2019-03-09 00:13] yarikoptic commented on #320
if you have no `sponge` around
[code]
might do it for you (unless you are on windows, which would whine about opened files)

[2019-03-09 00:13] yarikoptic commented on #320
For the "proper" resolution - we might as well sort those while adding entries to `participants.tsv`

[2019-03-11 21:04] #317 closed

[2019-03-13 02:17] kaihwang opened #321 "Executable?"
This is a newbie question I apologize up front if I offended anyone. My system admin is not permitting us to install docker, and I also couldn't get singularity to work. I was able to do
`pip install heudiconv`
without error. From the document, it suggests that there is an executable "heudiconv" that I can call from the bash terminal:

`heudiconv -d '{subject}*.tar*' -s xx05 -f ~/myheuristics/conv

[2019-03-13 04:39] kaihwang commented on #321
I also got a manifest error when trying to use singularity to pull form docker:

[kahwang@thalamege ~]$ singularity pull docker://nipy/heudiconv
WARNING: pull for Docker Hub is not guaranteed to produce the
WARNING: same image on repeated pull. Use Singularity Registry
WARNING: (shub://) to pull exactly equivalent images.
Docker image path: index.docker.io/nipy/heudiconv:latest
ERROR MANIFEST_UNKN

[2019-03-13 14:32] mgxd commented on #321
The `heudiconv` executable is really an entrypoint into a specific method of the `heudiconv.cli.run` script, and will be installed in your python's bin. what is your output when you type `heudiconv --version`?

Also regarding the manifest error - we replace the `latest` tag in favor of `unstable` for our image on DockerHub. You should be able to pull it successfully with `singularity pull docker:/

[2019-03-13 14:48] #297 closed

[2019-03-13 14:48] mgxd commented on #288
hi @dkp is this still a problem?

[2019-03-13 15:23] dkp commented on #288
Hi Mathias,
Thanks for asking.  I check the heudiconv container with docker pull before
I run anything, so I was running the latest in December, and it has updated
several times between Dec and now.  I am still reverse engineering to try
to understand what overwrite does.  I generally leave it on.
I'd love it if you could further explain the behavior of this tag.
Most recently, I see that with ove

[2019-03-13 17:18] mgxd commented on #288
The `--overwrite` flag is intended to facilitate re-conversions (@yarikoptic feel free to chime in, I know we have pushed and pulled on this before) - heudiconv will not write to file if it already exists. Here is the logic

https://github.com/nipy/heudiconv/blob/5b7c33ecfb9f93c547fa5d0a38cbd22e05ea0ebd/heudiconv/convert.py#L277-L304

What I suspect is happening in your case is 2 (or more) scans a

[2019-03-13 17:41] #262 closed

[2019-03-13 17:43] #244 closed

[2019-03-13 18:02] #234 closed

[2019-03-13 18:04] mgxd commented on #233
@relyativist is this still an issue? If so, please re-open

[2019-03-13 18:04] #233 closed

[2019-03-13 18:04] #232 closed

[2019-03-13 18:06] mgxd commented on #212
this was fixed in nipy/nibabel#690

[2019-03-13 18:06] #212 closed

[2019-03-13 18:11] mgxd commented on #197
this was expanded in #293. `--files` doesn't require `heuristic.infotoids()` as long as one (and only one) `--subjects` is passed along as well

[2019-03-13 18:11] #197 closed

[2019-03-13 18:13] mgxd commented on #162
@smoia did you manage to test the ME support on your data?

[2019-03-13 18:16] #149 closed

[2019-03-13 18:18] mgxd commented on #108
This should be fixed since nipy/nipype#2701

[2019-03-13 18:18] #108 closed

[2019-03-13 18:27] #33 closed

[2019-03-13 18:28] #8 closed

[2019-03-13 20:28] dkp commented on #288
Please, fork away! And thank you for the insights, it may take a while to
digest.

-Dianne

On Wed, Mar 13, 2019 at 10:30 AM Mathias Goncalves <notifications@github.com>
wrote:

--
Dianne Patterson, Ph.D.
Research Scientist
dkp@email.arizona.edu <dkp@u.arizona.edu>
or
diannepat@gmail.com
University of Arizona
Speech and Hearing Science 314
1131 E 2nd Street, Building #71
(Just East of Harvill)
===

[2019-03-14 21:40] kaihwang commented on #321
Thank you, I was able to find the executable and also successfully pull with singularity.  I am running 0.5.4

[kahwang@thalamege info]$ heudiconv --version
0.5.4.dev1

I am having difficulties reading some of our GE 7T dicoms (but not 3T), which I will post in a new thread.

[2019-03-14 21:42] kaihwang opened #322 "Erro when reading dicoms from GE 7T"
Hello, I encountered the following errors when trying to read dicoms from our GE 7T scanner. Please advise?

Singularity heudiconv-unstable.simg:~> heudiconv -d {subject}/SCANS/600/DICOM/*.dcm -s ANON1863 -f ~/bin/heudiconv/heudiconv/heuristics/convertall.py -c none -o ~/BIDS/
INFO: Running heudiconv version 0.5.4.dev1
INFO: Need to process 1 study sessions
INFO: PROCESSING STARTS: {'subject': 'AN

[2019-03-18 17:13] araikes commented on #320
Sorry... Been out the last week. I'll give the python approach a shot and see if does it. I imagine that, overall, it doesn't really matter aside from the visual disorganization.

[2019-03-18 21:51] mgxd commented on #322
Hi @kaihwang - our GE support is fairly rudimentary. If you could share some of your problematic DICOMs, I can take a look at it later this week.

[2019-03-19 03:43] kaihwang commented on #322
Thank you @mgxd - here is one single dicom. Please let me know if you need more.

[1.2.840.113619.2.156.497853703.26898.1551348221.298445-600-10140-1oe3jdj.dcm.zip](https://github.com/nipy/heudiconv/files/2981426/1.2.840.113619.2.156.497853703.26898.1551348221.298445-600-10140-1oe3jdj.dcm.zip)

[2019-03-19 12:01] #275 closed

[2019-03-20 01:28] daeh commented on #321
I ran into this issue too (but with singularity). Would it make sense to have recommended docker/singularity pull commands on the github landing page?

[2019-03-20 21:06] tjhendrickson opened #323 "Problem Running Heudiconv"
### Summary
 I am having difficulty converting my data to BIDS for a particular data set. In addition I am getting a strange error that I am not familiar with.

Here it is:

Traceback (most recent call last):
  File "/usr/local/bin/heudiconv", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/heudiconv/cli/run.py", line 125, in main
    process_args(args)
  F

[2019-03-21 00:04] yarikoptic commented on #323
From the CHANGELOG for 0.5.3:

### Fixed
- Do not shorten spaces in the dates while pretty printing .json

Could you please try 0.5.3 release and report back.  If it is not fixed - you can rerun with `--dbg` flag, end up in `pdb` and discover which file is at fault -- or where strings differ (we should improve error message there though indeed).    We should release 0.5.4 also very soon, but I do

[2019-03-21 14:01] yarikoptic commented on #299
Dear @tjhendrickson - did you figure out this issue, so it could be closed or is there something to address on our end?

[2019-03-21 15:51] tjhendrickson commented on #299
Thanks for following up, yes I've figure it out. You can close it.

Best,

-Tim

[2019-03-21 16:03] #299 closed

[2019-03-25 16:07] hacevedo opened #324 "Make renaming a subject easier and/or more flexible?"
### Summary

I was wondering what the rationale is for the subject placeholder requirement when using the dcm_template argument? Since changing a subject identifier is allowed via the --anon-cmd flag, I don't see why have using a different identifier in the dicom template versus the subject name shouldn't be allowed.

For example, if I already have a generic wrapper script that calls heudiconv whe

[2019-03-25 17:54] mgxd commented on #324
hi @hacevedo - the `-d, --dicom_dir_template` argument was preserved to allow for backwards compatibility, but I would recommend using the `--files` arg instead - it may make life much easier.

For example, if you wanted to convert SUB001 to NEWSUB using `dicom_dir_template`, it would look something like this:

[code]
This could be reworked as
[code]

[2019-03-25 18:41] hacevedo commented on #324
The usage info says for --files says it cannot be used with --subjects. When used together, it seems to ignore the subject for file naming (although it does use the passed value for participants.tsv) and instead relies on the Patient Name tag in the DICOM headers.

[2019-03-25 19:13] mgxd commented on #324
ah - that needs to be updated after #293..

And if you are using a heuristic with a defined `infotoids()` method (i.e. reproin), that may explain why. perhaps we can allow the `-s, --subject` argument to overwrite even if there is an infotoids? (cc @yarikoptic @mvdoc)

[2019-03-25 19:34] tjhendrickson commented on #323
Thanks for the suggestion. I tried upgrading heudiconv to 0.5.3 and got another error:

**Traceback (most recent call last):
  File "/usr/bin/heudiconv", line 11, in <module>
    load_entry_point('heudiconv==0.5.3', 'console_scripts', 'heudiconv')()
  File "/usr/lib/python2.7/dist-packages/heudiconv/cli/run.py", line 125, in main
    process_args(args)
  File "/usr/lib/python2.7/dist-packages/heud

[2019-03-26 20:08] Shotgunosine opened #326 "Update dcm2niix"
### Summary

I'm converting some epi's from a GE and the most recent release of dcm2niix captures phase encode direction and slice timing correctly. #325 addresses this update in the docker file

### Platform details:

Choose one:
- [ ] Local environment

- [X ] Container

nipy/heudiconv:ustable
- Heudiconv version:

0.5.4.dev1

[2019-03-26 21:17] #326 closed

[2019-04-01 17:48] fhopp commented on #302
Hi @mgxd - also, sorry from my side for the late reply, I was only able to resume this work recently.
Good news first, the tasks are now submitted to SLURM and I can see the jobs in the logs of the slurm nodes/deamons. However, I get a different error now that stops the script from executing.

Note that I am running heudiconv in a virtual conda enviornment, which *might* be part of the problem?
He

[2019-04-01 19:28] fhopp commented on #302
After replacing the relative with the absolute imports it works:
from .. import __version__, __packagename__

from heudiconv import __version__,__packagename__

I am not deep enough into the file structure of heudiconv to manually adjust the relative paths, but I thought I'd let you know!

[2019-04-01 19:43] mgxd commented on #302
@fhopp - yes, that has been a long time coming...

can you try out the PR above to see if that works for you

[2019-04-01 22:47] yarikoptic commented on #302
well, "works" could have different meanings.  Here it seems to be "absolute imports do not cause crash".  In my experience failing relative imports point to some incorrect or conflicting installation(s) or invocations...

here
[code]
smells like you are running that run.py directly?  shouldn't be... what is the output of `which heudiconv`? what does that script which it points to look like?  here

[2019-04-02 00:06] fhopp commented on #302
Agree, it doesn't crash. For better comprehension, here's my output:

[code]

[2019-04-02 04:02] mgxd commented on #302
@yarikoptic yes, I think this was my original idea and implementation, but I was worried that the python/heudiconv executable was not guaranteed to be the same if submitting to another node - so I wanted to "pin" both used executables. But looking at the entrypoint file, looks like the shebang has that covered.

[2019-04-04 18:19] mgxd commented on #323
hi @tjhendrickson - it looks like something was messed up when creating a `task-<task>.json` file - could you try deleting that file and reconverting?

What command are you calling to run heudiconv?

[2019-04-04 19:24] mgxd commented on #322
@kaihwang this looks to be a problem at the level of the DICOM/pydicom tag reading. I was able to replicate it with the following:

[code]

when the value should look like `['2.5000', '2.5000']`

I'd recommend opening an issue on [pydicom's repo](https://github.com/pydicom/pydicom) linking to this one.

[2019-04-06 20:35] fhopp commented on #318
Same applies to the _scans.tsv with variables:

![image](https://user-images.githubusercontent.com/22058606/55674990-aa677880-5870-11e9-8c48-8d5dc2515e78.png)

@yarikoptic @satra if you can point me to the file/line where these need to be defined I can jump in and work on a potential fix.

[2019-04-06 20:55] yarikoptic commented on #318
Just  `git grep _scans`  to find location in the code. Thank you in advance!

[2019-04-09 20:55] hcp4715 commented on #126
I have the same problem as @thomshaw92 ,
`
AssertionError: Conflicting study identifiers found [1.2.276.0.38.1.1.1.5691.20180625154719.153078980, 1.3.12.2.1107.5.2.32.35333.30000018062607273992600000010].
`

Below is the folder structure of that day's data, still can not identify the two scans that conflict. Any suggestions? Thanks in advance.

![Screenshot from 2019-04-09 22-54-26](https://user-i

[2019-04-15 16:26] AlexChristensen opened #329 "'nipy/heudiconv:unstable': Cannot find heuristics file"
### Summary

I am attempting to convert DICOMs to BIDS format using the nipy/heudiconv Docker container. I am using command line code that I recently used to convert DICOMs to BIDS. For some reason, this code is no longer working.

Here is the code:

`docker run --rm -it -v "~/Box Sync/SocialAL/ScanningData:/base" nipy/heudiconv:unstable -d /base/DICOMS/{subject}/*/* -s 1004 -c dcm2niix -f /base/B

[2019-04-15 16:49] pvelasco commented on #329
Is the folder "~/Box Sync/SocialAL/ScanningData" a local folder (does it live in your machine or somewhere else)?
If it is not (as I suspect), you can try running:
[code]

[2019-04-15 19:03] AlexChristensen commented on #329
It is a local folder: "C:/Users/apchrist/Box Sync/SocialAL/ScanningData"

I get the same error with the example you provide.

I also just tried using the entire path for each specified and get the same error:

`docker run --rm -it nipy/heudiconv:unstable -d "C:/Users/apchrist/Box Sync/SocialAL/ScanningData/DICOMS/{subject}/*/*" -s 1004 -c dcm2niix -f "C:/Users/apchrist/Box Sync/SocialAL/ScanningDa

[2019-04-15 22:42] mgxd commented on #329
@AlexChristensen
This looks like the container is unable to find your heuristic, probably due to some discrepancy in your docker volumes and host folders. The following command _should_ put you in an interactive linux terminal, which will allow you to check to see if your files are available for heudiconv

[code]

[2019-04-16 02:08] AlexChristensen commented on #329
@mgxd

This does seem to be an issue -- the container only contains the directories up to whatever is marked :/base for the code I enter. For example:

`docker run --rm -it -v "~/Box Sync/SocialAL/ScanningData:/base" nipy/heudiconv:unstable -d /base/DICOMS/{subject}/*/* -s 1004 -c dcm2niix -f /base/BIDS/SocialAL_Heuristics.py -b -o /base/BIDS/`

When entering bash and searching through the "base"

[2019-04-16 05:23] gureckis commented on #144
I also am finding that the studyUID check is feeling very strong.  I have an old dataset from 2006 on a Siemens Trio I'd like to update and publish/reanalyze.  I know that the data come from the same subject and session but for some reason the Dicom files have an empty string for Accession Number and a different Study Instance UID for every scan.  Perhaps something was misconfigured on the machine

[2019-04-16 05:34] sethim opened #330 "Hi"
### Summary

### Platform details:

Choose one:
- [ ] Local environment

- [ ] Container

- Heudiconv version:

[2019-04-16 05:34] sethim opened #331 "Hi"
### Summary

### Platform details:

Choose one:
- [ ] Local environment

- [ ] Container

- Heudiconv version:

[2019-04-16 05:34] #331 closed

[2019-04-16 05:40] sethim opened #332 "Negative slice timing"
Hi,
I wonder if you can help with this.

The json sidecar contains negative slice timings for my functional data. The slice at the bottom of the stack is allocated time zero (actual time 1.49 sec) and the subsequent images are all offset by the about 1.49 sec (eg. second slice that was acquired at time zero becomes -1.49).

This issue is occurring only when heudiconv is calling dcm2niix and not wh

[2019-04-16 05:40] #330 closed

[2019-04-16 14:18] mgxd commented on #332
Hi @sethim

Are you using the same version of dcm2niix to compare? There was an issue regarding this in previous versions of dcm2niix - see https://github.com/rordenlab/dcm2niix/issues/271

[2019-04-16 14:52] mgxd commented on #144
@gureckis there was work on disabling the grouping  in #200, and I'm all for revisiting it. This check was added to ensure conflicting studies would not be mixed together. However, as we see in https://github.com/nipy/heudiconv/issues/126#issuecomment-419378858 - we would want to give users the power to allow it under certain conditions.

[2019-04-16 16:53] mgxd commented on #329
If there are no files within that folder in the container, but there are locally, then something is wrong either with your bindings or docker installation. Here's a post that may help

https://rominirani.com/docker-on-windows-mounting-host-directories-d96f3f056a2c

[2019-04-16 17:39] AlexChristensen commented on #329
@mgxd

Thank you for reminding me of this setting -- I totally forgot about setting this up.

Strangely enough, I already had my C drive mounted (it was checked in the settings), but for some reason it was not recognizing the mount. I unchecked, applied settings, re-checked, and applied settings.  For whatever reason, this reset was necessary.

Thank you @mgxd and @pvelasco

[2019-04-16 17:43] #329 closed

[2019-04-17 14:10] satra commented on #312
@bpinsard - quick ping if you made any progress on this.

[2019-04-17 14:13] satra commented on #309
@yarikoptic - also see this issue #312

[2019-04-17 14:26] bpinsard commented on #312
@satra see PR #333
This is really basic but allow me to get information I needed.

[2019-04-17 14:38] satra commented on #144
@nicholst - just sent an email about a grouping where the series id is the same, but should be split into separate files. so another related problem that may require custom grouping.

[2019-04-22 15:54] DanielDelbarre commented on #144
Hi, I'm working on the dataset that @nicholst emailed about and wanted to provide some more details.

We have some datasets where there are 2 scans (T2 and PD) with the same series UID that need to be kept as two separate scans within a session. When I run Heudiconv, it groups these 2 scans together and outputs them as 2 runs of the same scan instead of 2 separate scans. I believe that Heudiconv i

[2019-04-26 18:40] kslays commented on #316
The [DockerHub HeuDiConv website](https://hub.docker.com/r/nipy/heudiconv) shows following the Docker Pull Command in the upper right of the webpage:
`docker pull nipy/heudiconv`
This is converted automatically to:
`docker pull nipy/heudiconv:latest`
That results in the error message. All three [installation instructions on the HeuDiConv GitHub website](https://github.com/nipy/heudiconv) (the slid

[2019-04-26 22:47] SamGuay commented on #316
I agree with @kslays that the installation doc should be updated or at least point to this closed issue. For people who are unfamiliar with GitHub, they may struggle to find the answer in a **_closed_** issue. In fact, they may just never find it. I thought my computer was the problem until I found this issue! :upside_down_face:

Cheers,

[2019-04-29 22:03] mgxd commented on #316
hi @SamGuay @kslays - we've since released `v0.5.4`, updated the slides, and readme on dockerhub to include instructions on using versioned releases. Hopefully this makes things much clearer :smiley:

[2019-04-29 22:19] kslays commented on #316
That's great, looks like v0.5.4 was a big release.

The GitHub readme.md should be changed as well, under the section called, "Tutorial with example conversion to BIDS format using Docker." Perhaps with a note for the two "Other tutorials" section, because they both still refer to the latest tag, which has an obscure failure error.

[2019-04-29 22:48] SamGuay commented on #316
Great, thanks! I was trying to install it this past Friday by following the given instructions on here and in the tutorials. So I think @kslays' idea of putting a note or something would be great.

Thanks again!

[2019-04-30 22:26] #320 closed

[2019-04-30 22:52] araikes opened #336 "FileDataset object has no attribute ContentDate"
### Summary

[convertall.txt](https://github.com/nipy/heudiconv/files/3133359/convertall.txt)

I am attempting to use Heudiconv to convert an older dataset in our lab. All sequences were run on a Siemens TrioTim. When running (heuristic attached), I get the following error:

[code]
It's fine creating the images and jsons for this image.  However, it fails out and doesn't continue processing the fu

[2019-05-01 15:29] mgxd commented on #336
@araikes I was able to confirm the bug - I've submitted a fix for it.

Once it's merged, the updated code will be available in the `nipy/heudiconv:unstable` container

[2019-05-01 15:43] mgxd commented on #332
@sethim we have updated the version of dcm2niix in our docker container (#334) - could you try `0.5.4` and see if that fixes your problem?

[2019-05-01 15:49] #336 closed

[2019-05-01 23:54] sethim commented on #332
@mgxd Thanks. Running the updated version has indeed fixed the negative slice timing issue. Cheers!

[2019-05-02 13:10] #332 closed

[2019-05-02 13:11] mgxd commented on #321
Hopefully this is much clearer now with our RTD - closing, but feel free to reopen

[2019-05-02 13:11] #321 closed

[2019-05-03 10:24] nicholst commented on #92
To offer a "+1" to this, it would be helpful to have options to anonymise or at least suppress the date from the entire BIDS, including:
* 'sub-<label>_scans.tsv`
* JSON sidecar files
* `sub-<label>_sessions.tsv`

[2019-05-08 18:48] kslays opened #338 "default command does not work with tcsh"
### Summary
This command works fine in bash:
`singularity run -B /path/to/my/files/:/base heudiconv.simg -d /base/dicom/{subject}/* -o /base/nifti/ -f convertall -s mysubject080 -c none`

However, in tcsh, the following error is reported:
`singularity: No match.`

I also tried running it on tcsh with docker and got a similar error:
`docker: No match.`

Is this an issue with the {subject} notation,

[2019-05-10 16:42] nicholst commented on #144
I wanted to give some more information on the problem with PD+T2 image pairs.  The distressing thing is that we can't stop it from creating invalid BIDS files, because it is appending an integer after our modality label.

In particular, our two images are coming out as:
[code]
which of course isn't valid.

Our heuristic file is below; you can see that we use the string `PDT2_` at the end, but we o

[2019-05-10 17:26] yarikoptic commented on #144
FTR: Woohoo -- I have managed to find the sample  phantom PD+T2w acquisition I have done for [another issue (multi-echo) troubleshooting](https://github.com/nipy/heudiconv/issues/162#issuecomment-368601865): http://datasets.datalad.org/?dir=/dicoms/dartmouth-phantoms/bids_test6-PD+T2w/

So just confirming the undesired behavior:
[code]

[2019-05-10 18:58] yarikoptic commented on #144
@DanielDelbarre @nicholst -- if you take your dicoms and convert using dcm2niix manually with `-b y` for bids side car files -- what do you see different between two produced .json files? in my case it is just echo times
[code]

[2019-05-11 13:37] nicholst commented on #144
Thank you for replicating this problem @yarikoptic!

@DanielDelbarre will have to confirm Monday, but I'm pretty sure that that is what we find as well -- .json identical except for `EchoNumber` and `EchoTime`.

[2019-05-13 17:27] stilley2 opened #340 "Question regarding batch processing"
### Summary

The [docs](https://heudiconv.readthedocs.io/en/latest/usage.html#batch-jobs) say that batch conversion with multiple parallel calls to heudiconv is possible. However, it's not clear what this means for files in the top level of the output directory (e.g. participants.tsv, task*.json). It would seem to me that there would be race conditions updating these files.

I skimmed through the

[2019-05-13 19:20] greydongilmore opened #341 "AssertionError line 239 in Utils.py"
### Summary

[code]

This works for all my scan sequences except I get this assertion failure on my CT study series. Could this be an issue with the CT sequence?

### Platform details:

Choose one:
- [x ] Local environment

Ubuntu 16.04, python 2.7
- [ ] Container

- Heudiconv version:

version 0.5.4.dev1

[2019-05-13 20:45] mgxd commented on #341
@yarikoptic your favorite bug is rearing its head again :wink:

[2019-05-13 21:11] mgxd commented on #340
Hi @stilley2 - thank you for the report.

Yep, this is a less common but totally possible pitfall with this approach. Though this could be remedied by creating a lockfile whenever modifying these top-level files to halt concurrent access and then removing it to allow the next process to proceed.

Would you have any interest in adding this feature?

[2019-05-13 21:51] yarikoptic commented on #341
eh, I would not call it "favorite" - eventually we should abandon my ad-hoc desire for "beauty" ;-)
@greydongilmore sorry about that.  Could you rerun your conversion while adding `--dbg` option, and then when it ends up in `pdb` for debugging, enter "up", and then "p filename" and share with me/us that file (possibly removing any sensitive information if any, although that one could be the culpri

[2019-05-14 14:52] stilley2 commented on #340
Sure I'll take a stab at in. In the meantime, is my assumption that the subject level files are not altered when the top level files are generated correct? That will allow me to proceed with the current version and just ignore the top level files.

[2019-05-14 18:26] stilley2 commented on #340
I looked into file locking, and it seems tricky to come up with a cross platform solution that works on all operating systems and on distributed filesystems such as those in a cluster environment. I think the best plan is to just add a flag that turns off writing these top-level files, and then the user can use the `populate-templates` command after the batch processing. I've created #344 to do th

[2019-05-14 18:31] satra commented on #340
@stilley2 - try this one: https://pypi.org/project/filelock/

[2019-05-14 20:59] mgxd commented on #144
I believe adding `PDT2` to this list
https://github.com/nipy/heudiconv/blob/47efa78fcc49d529efa93be8f948369673e03a38/heudiconv/convert.py#L575

will solve the problem (though hard-coding all the valid multi-echo acquisitions shouldn't be our long term solution).

I'm hoping to change this behavior in a future release by separating the `dim4` seqinfo field into its parts: `volumes` and `echoes`, bu

[2019-05-15 15:14] nicholst commented on #144
Adding `_PDT2` to the `supported_multiecho` list fixes the problem!  The PD and T2 are identified by echo labels and *not* by an appended 1 or 2. Thank you @mgxd!

The fix is lodged as PR #345.

[2019-05-15 16:06] yarikoptic commented on #144
I wonder if in the long(er) run, e.g. in the context of reproin heuristic, we should allow for having multiple modalities being listed joined by `+`, e.g. `_PD+T2w` then if multiple images detected, this suffix will get split and assigned accordingly. And if there is no `+` detected, use `-echo[123...]` and leave suffix intact.
AFAIK `+` is allowed in the sequence name on Siemens and [Philips](htt

[2019-05-15 16:13] nicholst commented on #144
Someone with more MR physics knowledge than me should weigh in on this.

As far as I know, we're talking about the very special case of one excitation generating multiple images (via multiple echos).  The only uses cases I know of are PD+T2 and multi-echo sequences used to support parametric mapping (or other corrections that generate maps after some modelling/transformation process... this is in

[2019-05-15 16:26] yarikoptic commented on #144
Well, I also had only PD+T2w combination. If I get it right, such "syntax handling" is largely heudiconv (and then reproin) specific, not BIDS per se, to just be able to accomplish the mission in a generic way (as opposed to custom to be hardcoded `_PDT2` suffix).

Asked our physics guy, he mentioned GE scanners being able to produce multiple contrasts from a single acquisition... Google lead e.g.

[2019-05-15 17:03] #341 closed

[2019-05-15 18:35] stilley2 commented on #340
@satra, I just tested that on a cluster environment, and it only worked when the processes were on the same node. So on the system I have access to this would not work with SLURM when requesting more than one node. I understand this is likely filesystem dependent, but I don't think we want to rely on such behavior.

[2019-05-15 19:26] satra commented on #340
@stilley2 - thank you for testing. did you use `SoftFileLock` ?

[2019-05-15 21:10] stilley2 commented on #340
Ah good catch, `SoftFileLock` works! I guess I should have read further down the examples page :)

I personally still think the strategy in #344 is the way to go.

[2019-05-15 21:36] satra commented on #340
@stilley2 - while the solution in #344 is fine for this scenario, we also have this scenario when creating datalad datasets. the locking option would work for that as well. i.e. any scenario which needs to update a global state of a dataset across distributed processes would benefit from the locking option.

[2019-05-16 03:10] yarikoptic opened #346 "Provide flexible support for multi-volume sequences"
Such as PD+T2w pairs, and possibly new fancy sequences from GE. See https://github.com/nipy/heudiconv/issues/144#issuecomment-492726073 for the initial discussion etc.  ATM we do support multi-echo and hardcoded _PDT2 (added in #345) but we might as well allow for more flexible specification via `_MOD1+MOD2[+...]` syntax to  be split and matched to the number of images produced

[2019-05-16 03:11] yarikoptic commented on #144
ok, created a dedicated issue https://github.com/nipy/heudiconv/issues/346 for possible enhancement.  The other assertions are about groupping for which there are #200 and other issues... so I guess this could be closed for now. Reopen if there is more to discuss specifically in this now lengthy thread

[2019-05-16 03:11] #144 closed

[2019-05-16 08:50] nicholst opened #347 "Error if EchoNumber tag missing with multi-echo sequence"
### Summary

While PR #345 successfully treats PD+T2 pairs as multi-echo, we now get runtime errors when such acquisitions are missing the `EchoNumber` tag:
[code]
Using the `--overwrite` option eliminates the error but only leaves us with one echo.

Presently, multi echo support depends on `EchoNumber` tag, but given there are DICOM files in the wild that lack this tag we need a backup logic, pre

[2019-05-16 13:14] stilley2 commented on #340
Ok I agree it sounds like a good feature to have regardless of #344. I'll try to implement it when I get time, but if anyone wants to jump in and do it I won't fill bad :)

[2019-05-16 13:46] yarikoptic commented on #347
another related is #346 - "Provide flexible support for multi-volume sequences" ;-)

[2019-05-20 16:00] nicholst commented on #346
Maximising the sense of "flexible", I propose that heudiconv be able to *split* *up* images with the same series UID, specificaly motivated by the use case of PDw and T2w image echo pairs.

After consultation with the [BEP001 MultiEcho](https://github.com/bids-standard/bep001) team, specifically https://github.com/bids-standard/bids-specification/issues/223#issuecomment-494022982, they report that

[2019-05-20 17:47] yarikoptic opened #349 "RF for #344 idea: explicit list/dict of "bids actions" to possibly consider"
I had another idea about #344 one, but I guess we could get to it after this PR is merged . If I get to it I will work on top of the #344.

The idea is somewhat a meld between current implementation in #344 and what I recommended originally [there](https://github.com/nipy/heudiconv/pull/344#discussion_r283959396).

Idea:  define a list (or dict if with description) of known options for BIDS for **

[2019-05-21 02:34] satra commented on #346
@nicholst - this is a fundamental problem about how to group dicom files. thus far, we have relied on simple groupings (e.g., series UID), but one can envision not just your use case, but say someone wanting to separate out a diffusion series into b0 scans and non b0 scans. this pattern does come up in many different use cases. also dicoms can be mosaiced, unmosaiced, and multiframe.

i can see a

[2019-05-21 06:01] nicholst commented on #346
@satra - having never myself crafted a heuristic I don’t feel like I can weigh in - maybe @DanielDelbarre can?  All I’d say is the option that minimizes effort when this series-splitting complexity is not needed would be preferable.

[2019-05-21 10:44] satra commented on #346
@nicholst - indeed, it would default to the current form for series splitting if no special handling is needed. there will also be some capabilities at the command line level for groupby order to minimize extra code writing. people should only have to alter the grouping function if absolutely necessary.

[2019-06-13 21:17] TempleEDp commented on #329
I received a similar error but am working on a linux machine and with an external drive and am concerned that there is something I am not understanding about mounting external drives to a linux machine and docker.

This code worked previously but now does not.

docker run --rm -it -v /media/eunice/'Seagate Backup Plus Drive2'/study5:/base nipy/heudiconv:latest -d /base/sub-{subject}/scans/ses-{ses

[2019-06-13 21:31] AlexChristensen commented on #329
Hi Eunice (@TempleEDp),

Have you tried unmounting and remounting the drive your files are on?

For me, Docker said that my C: drive was mounted but I was getting this error. To fix it, I unmounted, applied settings, remounted the drive, and applied settings.

I've had to do this a couple times since I originally opened this issue. Not sure why Docker does not recognize that the drive is already m

[2019-06-13 22:01] TempleEDp commented on #329
Dear Alex,

Appreciate your paying forward (or is it back?) -- either way - its
appreciated.

To check to unmount using the linux command this would be

umount /media/eunice/'Seagate Backup Plus Drive2'

This seems to work. And then I get confused.

To check what do I need to do to apply settings (not sure if this is
something I look for in the System Settings) and mount? To mount would this
be th

[2019-06-14 13:59] AlexChristensen commented on #329
Hi Eunice,

I'm not familiar with Linux and not sure how much help I can be with the OS.

For me, the changed occurred through Docker's settings in its GUI. I'm not sure if you have a GUI or a taskbar for Linux.

The unmounting and mounting I was referring to was all in Docker --> Settings --> Shared Drives

Images shown here: https://rominirani.com/docker-on-windows-mounting-host-directories-d96f

[2019-06-14 15:32] mgxd opened #353 "Cached heuristic name discrepancy"
### Summary
When reconverting and using a different heuristic filename from the cache, the conversion table (`filegroup.json`) is still reused. This results in `heudiconv` ignoring the new heuristic and defaulting to the grouping from the previous heuristic. Relevant code excerpt:

https://github.com/nipy/heudiconv/blob/312cd2e5db4968b1d71920aa681ff2795efc3fab/heudiconv/convert.py#L125-L133
...and

[2019-06-17 14:24] TempleEDp commented on #329
Dear Alex, appreciate the details - it looks like I should look into the
corresponding of Docker for linux. Will post in more detail if I can work
this out. Cheers, Eunice

On Fri, Jun 14, 2019 at 9:59 AM Alexander Christensen <
notifications@github.com> wrote:

--
Eunice Chen, PhD
Associate Professor
Psychology
Temple University
1701 N 13th Street
Philadelphia PA 19122

Temple Eating Disorders pr

[2019-06-24 15:15] yarikoptic opened #355 "Confusing/misleading message when trying to override subject id"
[code]
so is it a matter of overriding only in a single sequence? since it is only a single subject id.  So some logic might need to get fixed or extended

[2019-06-24 18:43] laurenbreithaupt commented on #126
@yarikoptic - I am looking for a workaround with multiple accession numbers (subjects break and come back). Can I group by multiple accession numbers using -g accesion_number?

[2019-06-25 13:54] mgxd commented on #355
It seems like this was the intended logic, but I've found this check to be more annoying than helpful

[2019-06-25 16:16] jamesfcavanagh commented on #77
Was this issue ever resolved using Docker?  I'm having the same problem.

[2019-06-25 16:20] mgxd commented on #77
@jamesfcavanagh are you using the latest release on dockerhub? what does your heudiconv command look like? what output are you getting?

[2019-06-25 16:24] jamesfcavanagh commented on #77
I assume so; I'm using nipy/heudiconv:latest.

Here's the command:

I've tried a variety of heuristic commands, they're all the same.  Here's the most straightforward:
    t1w_high_res = create_key('sub-{subject}/anat/sub-{subject}_acq-highres_T1w')
    task1 = create_key('sub-{subject}/func/sub-{subject}_task-doors_run-01_bold')
    task2 = create_key('sub-{subject}/func/sub-{subject}_task-doors_

[2019-06-25 17:03] mgxd commented on #77
I think this is the same issue in https://github.com/nipy/heudiconv/issues/288

Basically, what I suspect might be happening is you are hard-coding paths (with specific runs) and then grouping multiple sequences as a single run. You shouldn't need to use the `--overwrite` flag unless the data already exists before calling `heudiconv`

[code]

 If you can share your heuristic + dicominfo.tsv for th

[2019-06-28 19:45] chaselgrove opened #356 "heudiconv -d eats memory"
I have a 30 scan, 8GB data set that converts fine with `-c dcm2niix` but not with `-c dcm2niix -b`.  Memory used by heudiconv climbs in the second case until it exhausts the memory on the machine (32 GB available).

Command was:

`heudiconv -d /data/{subject}/{session}/* -s 2 --ses 1 -f convertall -c dcm2niix -b -o /data/2.out`

Running on a local environment, Debian 9, Python 2.7.13, heudiconv 0.

[2019-06-28 20:48] satra commented on #356
@chaselgrove does adding the `-minmeta` flag have any effect on the bids output call?

[2019-07-01 17:37] jamesfcavanagh commented on #77
Want to know the solution?  [It's a memory issue in Docker defaults](http://reproducibility.stanford.edu/fmriprep-tutorial-running-the-docker-image/#fmriprep_memory).  Set it higher than the default 2GB.

[2019-07-01 19:58] mgxd commented on #77
@jamesfcavanagh Awesome! Could you share a snippet of the error message you received when using < 2GB?

[2019-07-01 20:08] jamesfcavanagh commented on #77
It's there 4 cells above this one (under Final Output:).  It just ... ends.  No error message.

[2019-07-01 20:48] chaselgrove commented on #356
Yes, that helps, and will be good enough for this case.

[2019-07-03 15:10] yarikoptic opened #357 "Support pepolar fmaps"
Not yet sure if might be reproin heuristic specific. ATM for SE sequences intended to be pepolar fieldmaps https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#case-4-multiple-phase-encoded-directions-pepolar we are getting files with `_magnitude` suffix, whenever it should be `_epi`.

Attn @amanelis17

[2019-07-03 15:57] pvelasco commented on #357
Hi @yarikoptic,

Yes, it looks like the problem is with the reproin heuristic file.  The pepolar fieldmaps are magnitude images, so they have the `M` label in the `s.image_type` and reproin will assign the `seqtype_label` `magnitude`.
What we do in [our heuristic file](https://github.com/cbinyu/heudiconv/blob/master/heudiconv/heuristics/cbi_heuristic.py) is we also check the `s.sequence_name`: `ep

[2019-07-03 17:25] yarikoptic commented on #357
THANK YOU @pvelasco !  I think in our (reproin) case we could judge based on having `_dir-` field present, which is defined/makes sense only for pepolar ones and not for generic fieldmaps

[2019-07-08 19:24] #353 closed

[2019-07-09 20:30] #170 closed

[2019-07-11 14:47] #357 closed

[2019-07-22 05:32] darrencl opened #361 "Record changing variable on multiple sessions"
### Summary

I would like to ensure that the current version of `heudiconv` supports recording the changing variable on every session on `_sessions.tsv` file under each subject? This file is described in [this BIDS specification](https://bids-specification.readthedocs.io/en/stable/05-longitudinal-and-multi-site-studies.html). The use case of this, for example, is recording the patient weight or he

[2019-07-25 14:51] kslays commented on #338
I also tried it on zsh, which doesn't work either.

[2019-07-25 16:58] yarikoptic commented on #338
Do you have singularity installed? Can you run singularity --help?

[2019-07-26 06:11] c42f commented on #361
I just spotted the `custom_callable` option which can be supplied to the heuristic. This might be a reasonable workaround for the moment:

https://github.com/nipy/heudiconv/blob/02f5980c697b69494a80cfa4f68009a8ee10502b/heudiconv/convert.py#L334

However this isn't the most convenient way to do it though because the custom callable will be called multiple times per session. Presumably the better pl

[2019-07-26 18:15] utooley opened #362 "JSON/File not found when populating template files"
### Summary
Converting ~600 subjs sometimes ends fine, sometimes ends with either a JSON decoder error, input/output error, or not finding `FileNotFoundError: [Errno 2] No such file or directory: '/mnt/niftis/task-rest_bold.json'`.

Things seem to be fine afterwards, dataset is bids-valid, but not sure what's up. Wondering whether it's a memory issue related to #356 or something like #311. I'm usi

[2019-07-26 20:46] kslays commented on #338
@yarikoptic, thanks for the reply. Yes, singularity and docker are both installed. `singularity --help` results in the help text being printed in the terminal in all three shells: bash, tcsh, and zsh. The command works fine from bash, but tcsh and zsh both result in the `No match.` error.

Do you think this is heudiconv error, or instead an error in the command syntax, perhaps with the curly brace

[2019-07-26 21:38] yarikoptic commented on #338
Quote your args and we will discover

[code]

[2019-07-29 17:24] pguduguntla commented on #338
I tried it out on tcsh and zsh and quoting the arguments for the -d flag fixes the issue.

[2019-07-31 12:21] kslays commented on #338
So it looks like this issue is just an error in documentation, so can be closed when the documentation suggests quoting the arguments.

Thank you @yarikoptic for solving the issue!

[2019-07-31 14:22] yarikoptic commented on #338
good idea -- see https://github.com/nipy/heudiconv/pull/363 which should close this issue if merged ;)

[2019-08-07 17:52] tsalo commented on #347
I fixed this on my fork by converting `echo_times` into a list and using the file's EchoTime to index that list (plus one) to get the echo number if EchoNumber wasn't in `fileinfo`'s keys.

I.e.,
[code]

I'd be happy to open a PR, unless there are plans for a different fix.

[2019-08-07 18:42] #338 closed

[2019-08-08 15:09] mgxd opened #365 "Invalid data when outputting uncompressed NIfTIs"
When setting a key to `outtype=('nii',)`, heudiconv executes successfully but produces invalid data.

A workaround is to use the `--dcmconfig` flag with the following config option:
[code]

[2019-08-08 15:12] mgxd commented on #362
@utooley are you running multiple participants in parallel? If so, it may be related to the race-condition of creating the top-level JSON files discussed in #340

[2019-08-13 17:34] utooley commented on #362
Ahh, yes, I see! I am indeed running multiple participants in parallel, sorry I didn't dig through the issues more carefully to find a more plausible culprit. In that case, then, it seems that everything is okay afterwards if the dataset is still BIDS-valid--correct me if I'm wrong.

[2019-08-21 08:06] eduardklap commented on #121
Would also love to have par/rec supported in heudiconv, we have a lot of datasets in this format. Am I right that no one is actively working on this anymore?
Would be happy to contribute, but not very experienced with Python. @mgxd or @psadil do you have an idea where to continue?

PS: For anyone looking for a par/rec to BIDS converter, we are using bidsify (https://github.com/NILAB-UvA/bidsify) n

[2019-08-21 13:09] mgxd commented on #121
@eduardklap I don't believe anyone is currently working on this issue.

The way I see this implementation going is by adding a function that mimics https://github.com/nipy/heudiconv/blob/6b30c75333d3ee75aca8ae07026b8d034d765adb/heudiconv/dicoms.py#L13
(groups scans into series, extracts series information, concatenates all series information) - this will require a bit of work. If this is something

[2019-08-21 22:29] #347 closed

[2019-08-22 10:04] eduardklap commented on #121
Good to know, thanks! I will have a look in the coming weeks and see what I can do

[2019-08-23 08:47] drshrink opened #367 "error "failed to initialize runtime: engine "" is not found"
### Summary

Dear experts,
I'm a newby and follow "workthrough" example in the website "http://reproducibility.stanford.edu/bids-tutorial-series-part-2a/#heuman1".

With heudiconv_0.5.4.sif (singularity) under Python 2.7.5 of RHEL 7, I had an error message when I ran following script.

singularity run \
heudiconv-0.5.4.sif \
-d /tmp/test_HeuDiConv/Dicom/*/*/SCANS/*/DICOM/*.dcm \
-o /tmp/test_HeuDi

[2019-09-11 11:23] tsalo opened #368 "Support for complex multi-echo fMRI"
### Summary

Functional phase data (from magnitude+phase reconstruction of fMRI data) is not currently supported as a multi-echo data type. I know that there are plans for a more robust form of support for multi-volume sequences in #346, but in the meantime I think that `_phase` needs to be added to the [list of supported multi-echo data types](https://github.com/nipy/heudiconv/blob/5cfb6f2835f76b

[2019-09-11 12:05] yarikoptic commented on #368
Do you have some shareable (phantom, ideally lower res) sample dicoms?

[2019-09-11 12:38] tsalo commented on #368
I do! It's phantom data, although not particularly low resolution.

[Here](https://drive.google.com/open?id=1MZvQ6HiyIqYZN_IiB8r-XnyhnK7jrj7d) is the link to the data on Google Drive.

The data have six echoes, a multi band factor of 4, and were acquired on a Siemens Prisma:
- 612_Estimation_task1_6ET_MB4_SBRef: The single-band reference image (unnecessary but shared anyway).
- 613_Estimation_task

[2019-09-11 13:45] yarikoptic commented on #368
any objections if I reshare them from http://datasets.datalad.org/?dir=/dicoms  (a new `salo/` subdataset there).  There is already http://datasets.datalad.org/?dir=/dicoms/velasco/MEEPI which we use for some rudimentary testing

[2019-09-11 13:48] tsalo commented on #368
No objections. Thank you!

[2019-09-17 21:21] swatirane commented on #74
Hi I am trying to use heudiconv on a Linux machine with Philips DICOM files. I  used the command:

docker run --rm -it -v /var/local/scratch/srleven/MIDP:/data:ro -v /var/local/scratch/srleven/MIDP:/output nipy/heudiconv:latest -d /data/{subject}/DICOM/DICOM/IM* -s MIDP_001 -f /data/bin/srl_heuristic.py -c none -o /output

My heuristic file is:
import os

def create_key(template, outtype=('nii.gz'

[2019-09-17 21:29] swatirane opened #370 "0 sessions in study"
Hi I am trying to use heudiconv on a Linux machine with Philips DICOM files. I used the command:

docker run --rm -it -v /var/local/scratch/srleven/MIDP:/data:ro -v /var/local/scratch/srleven/MIDP:/output nipy/heudiconv:latest -d /data/{subject}/DICOM/DICOM/IM* -s MIDP_001 -f /data/bin/srl_heuristic.py -c none -o /output

My heuristic file is:
import os

def create_key(template, outtype=('nii.gz',

[2019-09-17 21:49] swatirane commented on #370
Solved! Referred to Issue No. 296 and 298.

[2019-09-17 21:49] #370 closed

[2019-09-18 12:43] tsalo commented on #368
@yarikoptic, should I wait for a larger refactor (e.g., the plans in #346) or would it be okay for me to open a pull request with my proposed change [here](https://github.com/nipy/heudiconv/blob/5cfb6f2835f76b8c9d6f19c45e8be0759535900f/heudiconv/convert.py#L583)?

[2019-09-18 15:19] desserdmi opened #371 "Windows installing without docker"
### Summary

### Platform details:

Choose one:
- [ ] Local environment
Windows 7
- [ ] Container

- Heudiconv version:
0.5.4

Hi guys,

heudiconv runs perfectly on Linux and MAC for me using docker. I have tried to install heudiconv with using pip and conda. It seems to have problems with dependencies. I think the conflict is mainly due to dcm2niix dependencies. Using Python 2.7. it is possible t

[2019-09-18 15:46] mgxd commented on #371
Hi Dima,

We don't explicitly test heudiconv on Windows - our preferred method is via Docker container. Your best bet is to try installing the docker toolbox for legacy systems https://docs.docker.com/toolbox/toolbox_install_windows/

I'll see if I can submit a patch that hopefully fixes the error you posted.

[2019-09-18 15:52] mgxd commented on #371
@desserdmi

I've created a patch, you can install with
[code]

can you retry your conversion with this version?

[2019-09-18 16:03] mgxd commented on #368
@tsalo I'd say go for it - the refactor won't come for a bit.

[2019-09-18 17:21] yarikoptic commented on #368
sorry for the delay. I've requested access now

[2019-09-18 17:25] yarikoptic opened #374 "tests on python 2.7 started to fail within the past month"
not sure yet what triggered it. https://travis-ci.org/nipy/heudiconv/builds/574912662 is the first build of master to exhibit it, but changes are unrelated.

[code]

[2019-09-18 17:33] effigies commented on #374
@oesteban It looks like we broke a thing.

[2019-09-18 17:40] desserdmi commented on #371
Hi,

thank you for your reply!

I have installed the patch. Now, the problem ist an old nibabel version.
dcm2niix requires nibabel 2.1.2. The batch installed 2.0.2 which is a
dependency of any other package of heudiconv.

At the end I get the error message: DCM2niix failed to run. "TypeError:
environment can only contain strings"

Best,

Dima

Am Mi., 18. Sept. 2019 um 17:52 Uhr schrieb Mathias Go

[2019-09-18 17:43] effigies commented on #374
@yarikoptic Can you try depending on nipype master just to make sure this hasn't been fixed in a recent PR?

[2019-09-18 17:49] desserdmi commented on #371
P.S.
on another virtualenv I get the Error:
https://stackoverflow.com/questions/10842428/can-select-be-used-with-files-in-python-under-windows

So I think there is a select() funktion anywhere in the script and windows
i not able to deal with it :))

Cheers,

Dima

Am Mi., 18. Sept. 2019 um 19:40 Uhr schrieb Dmitriy Desser <
dmitriy.desser@gmail.com>:

[2019-09-18 18:02] yarikoptic commented on #374
oh, thanks for picking it up!  I will, but later, unless someone beats me to it

[2019-09-18 18:45] desserdmi commented on #371
P.P.S.

Sorry for spamming and bothering you with that. My main problem with docker
toolbox is actually to run it behind the proxy of the lab.. It is much more
complicated as with normal docker distribution :/

What do you actually think about developing some kind of compiled version
with GUI for heudiconv using QT?

I mean I could try it on my own (I am currently MD student) but any
supervision/s

[2019-09-18 22:26] #374 closed

[2019-09-20 06:16] JiyoungByun opened #377 "AssertionError: Conflicting study identifiers found” in heudiconv"
### Summary

### Platform details:

Choose one:
- [ ] Local environment

- [ ] Container

- Heudiconv version:

My sample folders are organized in this way.
I use Philips fMRI data from ADNI, and each subject has different imaging date numbers. In other words, multiple subjects with multiple sessions without any rule. .dcm files are located in ‘anat’ and ‘func’ folder respectively.

Myproject
   -

[2019-10-03 06:36] jdkent opened #378 "enhance explicitness about what json files heudiconv fails to read"
### Summary
I was helping a user troubleshoot a problem with heudiconv, as it was tripping up on an invalid json file, but the user only thought heudiconv was touching files in the subject directory inside the bids directory, and not looking in other places inside the bids directory (which it does).

A clue that could have gotten this user on track faster would be to print which file was the inval

[2019-10-03 15:31] #318 closed

[2019-10-04 02:27] c42f opened #381 "Support for Single Voxel Spectroscopy"
Hi guys, we're working on curating a dataset containing a mixture of MRI and single voxel MRS data acquired on Siemens scanners (primarily Siemens Prisma).

Currently the BIDS standard doesn't have a section dealing with MRS data, but there is a [draft available](https://docs.google.com/document/d/1pWCb02YNv5W-UZZja24fZrdXLm4X7knXMiZI7E2z7mY).

Our current plan is to write a standalone script whic

[2019-10-04 16:18] #378 closed

[2019-10-08 20:47] #368 closed

[2019-10-09 16:40] tsalo opened #382 "Incorrect echo times in multi-echo phase and single-band reference data"
### Summary

I have multi-echo, complex-valued EPI data with single-band reference images, and I ran it through the current version of heudiconv. The files are all generated and have the right names, but the json files for the functional phase data and both the magnitude and phase SBRefs have the wrong echo times and echo numbers. Each one has the first echo's TE for all echoes. It could be that t

[2019-10-14 15:29] ariekahn commented on #262
I just spent a while debugging my script with the same issue, and the fact that different tarballs are treated as different sessions really isn't made clear in the documentation, had to dig into the API to figure out why it was failing. It's also particularly unexpected behavior when I'm manually passing in a session (e.g. `-d dicom/sub-{subject}/ses-{session}/*.tar.gz -ss 1`). There really should

[2019-10-14 15:29] ariekahn opened #383 "Poor documentation of -d flag session handling"
I just spent a while debugging my script with the same issue, and the fact that different tarballs are treated as different sessions really isn't made clear in the documentation, had to dig into the API to figure out why it was failing. It's also particularly unexpected behavior when I'm manually passing in a session (e.g. -d dicom/sub-{subject}/ses-{session}/*.tar.gz -ss 1). There really should b

[2019-10-19 18:00] tsalo commented on #382
Sorry about this. I just re-ran in the heudiconv Docker image and the metadata was all correct. It must be something I was doing in my workflow.

[2019-10-19 18:00] #382 closed

[2019-10-19 18:35] yarikoptic commented on #382
thanks... although could still be some bug of non-deterministic execution (e.g. `dict` order somewhere)

[2019-10-23 11:36] AKSoo opened #384 "More flexible multi-echo support"
### Summary

I am trying to convert fieldmap data with a phase sequence with 2 echo times and a magnitude sequence with 2 echo times. The latest release claims to support multi-echo conversion, so I looked into how to build a heuristic that takes advantage of this. But looking at #293, it looks like convert.py tries to take care of converting multi-echo sequences into BIDS format.

So I just ran h

[2019-10-23 14:55] mgxd commented on #383
Hi @ariekahn - you are absolutely right that it is poorly documented. Would you care to submit a PR to make this behavior easily visible to future users?

[2019-10-23 15:15] mgxd commented on #381
hi @c42f

With all the different BIDS extensions popping up, feature creep is looming... the standalone script idea sounds good to me. Ideally it could be used complementary with heudiconv.

we are currently doing this here:

https://github.com/nipy/heudiconv/blob/bad781a6e4ef6aba1400c7b56170efdfd326da17/heudiconv/dicoms.py#L492-L511

Though it might be a good time to extract that bit from here /

[2019-10-23 15:18] mgxd opened #385 "heudiconv extensions"
Idea brought from #381 - allow the use of extensions to do additional processing during conversions

[2019-10-23 15:28] mgxd commented on #384
There is already an open issue about this #346. I had messed around with a branch earlier this year that adds a flag to split all echoes, allowing template style naming per each echo. When I get some time, I'll try to get it in working shape.

What does your heuristic / series info look like? There may be a way to work around this.

[2019-10-23 15:30] mgxd commented on #377
@JiyoungByun this means heudiconv was given DICOMs from 2 different studies - by default this will throw an error to prevent erroneous conversions.

[2019-10-23 16:08] #383 closed

[2019-10-23 22:40] yarikoptic commented on #385
Sounds great. We should identify core steps and probably go with a mechanism similar to git hooks, just pick them up across different levels (system, user, current dataset). Or may be there is a better way?

[2019-10-24 02:16] AKSoo commented on #384
fmap_mag = create_key('sub-{subject}/fmap/sub-{subject}_magnitude')
    fmap_phase = create_key('sub-{subject}/fmap/sub-{subject}_phase')

    for s in seqinfo:
        elif 'B0map' in s.protocol_name:
            if 'M' in s.image_type:
                info[fmap_mag].append(s.series_id)
            elif 'P' in s.image_type:
                info[fmap_phase].append(s.series_id)

This is what I trie

[2019-10-24 03:18] c42f commented on #385
Having an extension mechanism would be great. What I think would make sense for #381 would be to somehow benefit from the dicom grouping and organization work which heudiconv already does, but to then allow some user-defined code to run over the grouping and add output results to the bids directory.

I'm not entirely sure that covers our use case though. @darrencl you are the one who knows the gor

[2019-10-24 03:47] AKSoo opened #388 "How to change directory structure when converting from tar?"
### Summary

In my dataset, there is a tarball for each subject. The directory structure inside `{subject}.tar.gz` looks like:

[code]

From reading the docs, I thought what heudiconv did was
1. Read all the dcm files in the tar, regardless of directory
2. Based on output templates, create output files in output directory

So I expected the outputs `/output/sub-{subject}/...` with tarball's direct

[2019-10-24 05:43] darrencl commented on #385
I agree that it is useful to allow users run their code on groupings produced by heudiconv. Getting access to particular item of `seqinfo` or `filegroup` (in our case, the MRS) and being able to run custom processing on that may be enough for our script to integrate with heudiconv.

On a side note, if heudiconv are planning to support the extension which would run over various BIDS extensions, inc

[2019-10-24 13:40] pvelasco commented on #384
@AKSoo,

Until a more permanent solution is found to support for echo naming in the heuristic file, something you can do is modify convert.py.

Where it says:
[code]
Replace it with:
[code]
I think it will do what you want, without breaking anything else, but I haven't tested it...

[2019-10-25 02:25] AKSoo commented on #384
I am using a docker image, and I don't know how to edit that file in the image.

Until proper multi-volume support, I will just use a post-processing shell script, since it's a minor name change.

[2019-10-25 22:40] mgxd opened #389 "reduce sidecar size by default"
Essentially mimic use of the `--minmeta` flag, but allow users the option to extract more/all DICOM metadata (`--all-meta`?).

This will greatly reduce conversion output directory sizes by default, especially for longer protocols.

[2019-10-25 23:01] yarikoptic commented on #389
Probably you are  observing big sizes on dicoms from some scanners for which we didn't kill their custom manufacture specific fields? Some examples could come handy

[2019-10-28 06:32] AKSoo commented on #362
I have also encountered this error while running multiple instances of heudiconv in parallel, and the error threw off the post conversion processing script.

Unless #348 will get merged soon, we should add a small note in the usage docs.

[2019-11-14 22:33] heyeh opened #391 "KeyError: 'None'"
Dear experts,
I am trying to convert Dicom to BIDs for a group of subjects. It works well for most of the subjects. But for some subjects, it doesn't work for session 1 while work well for session 2 of the same subject. The error output is as below. I have tried just using dcm2nii on that dataset and it did work through.  I could not find any relevant issue on google. Could anyone help me with thi

[2019-11-14 22:39] heyeh commented on #391
import os

def create_key(template, outtype=('nii.gz',), annotation_classes=None):
    if template is None or not template:
        raise ValueError('Template must be a valid format string')
    return template, outtype, annotation_classes

def infotodict(seqinfo):
    """Heuristic evaluator for determining which runs belong where

    allowed template fields - follow python string module:

    it

[2019-11-14 23:11] yarikoptic commented on #391
My wild guess is that in your heuristic in one of the functions you forgot to return the actual value you intended to return

[2019-11-15 16:52] heyeh commented on #391
Thanks for the reply.

[2019-11-15 16:52] #391 closed

[2019-11-22 16:35] yarikoptic opened #392 "Kick out 0.6 release"
We amassed a good amount of changes and enhancements to progress minor release number, and we must release.

TODOs:
- [ ] prepare CHANGELOG (@mgxd are you around to help?)
- [x] do  a sample manual regression testing to compare behaviors with 0.5.4.  Anyone is welcome to HELP/report!  Reminder -- there is a `utils/test-compare-two-versions.sh` which could come handy

List of PRs merged is availabl

[2019-11-22 16:39] satra commented on #392
@yarikoptic @mgxd - do you want to include the et response system in this, as we have in nipype:

https://github.com/nipy/nipype/blob/master/nipype/__init__.py#L69

together with the .et file:

https://github.com/nipy/nipype/blob/master/.et

we have already used this in nipype since we released a couple of really do not use versions.

[2019-11-22 16:45] mgxd commented on #392
yes, we should definitely

[2019-11-27 20:46] yarikoptic opened #393 "slurm tests error out on which call"
[code]
Environment was produced via
[code]
tests ran via `python -m pytest -s -v .` and there is no slurm locally.

[2019-11-28 01:25] mgxd commented on #393
looks like it needs to be wrapped as a boolean

[code]

[2019-12-01 17:38] yarikoptic commented on #393
I guess more of
[code]

but then -- on my system I have slurm-client installed but not configured, so I have `sbatch` but
[code]
so I wondered what could be a better check - so that there is `sbatch` and compute nodes are available.  Don't know SLURM yet, so I wonder what would you recommend?

meanwhile submitting a PR for the aforementioned diff

[2019-12-05 13:41] #393 closed

[2019-12-05 13:51] yarikoptic commented on #392
cool idea on `bad_versions` and `.et`!
But IMHO, as suggested/discussed in https://github.com/ReproNim/reproman/pull/493, this whole `check_latest_version` (with necessary parametrizations) should be implemented within etelemetry itself, so downstream projects did not have to redo this templated code, each slightly differently and possibly less efficiently.
@mgxd , would you have time/interest to

[2019-12-05 20:45] yarikoptic commented on #136
this functionality was implemented in datalad (triggered e.g. via `datalad create --fake-dates`) and heudiconv supports for it will be included in 0.6 release.  Not sure if I will bother with adding commit date to _scans.tsv

[2019-12-05 20:45] #136 closed

[2019-12-05 20:57] yarikoptic opened #397 "Provide _sessions.tsv for multi-session datasets"
See https://bids-specification.readthedocs.io/en/stable/05-longitudinal-and-multi-site-studies.html

- Should as _scans.tsv files have `randstr`.
- Should also be a subject to optional dates annonimization (TODO https://github.com/nipy/heudiconv/issues/92)

[2019-12-05 22:28] darrencl commented on #397
I think this issue is opened in #361

[2019-12-05 23:29] yarikoptic commented on #397
Oh hoh, thank you! Closing as duplicate. I will follow up on that one later on.

[2019-12-05 23:29] #397 closed

[2019-12-06 02:32] yarikoptic opened #399 "Output directory of some tests is . and that leads to populating current tree"
E.g. some of the tests working on axasc35.dcm would generate `Research/MCBI_TESTING/`
[code]
so we should `cd` to the tmpdir while running it I guess

[2019-12-06 14:39] yarikoptic opened #400 "Older pytest (e.g. 3.0.6) lacks tmp_path fixture"
NeuroDebian 9.0 env:

[code]

since it is a single cae, I think it would be best to avoid use of `tmp_path` and use only `tmpdir`

[2019-12-10 21:35] dnkennedy opened #401 "Typo in Documentation..."
### Summary
On the documentation page:
https://heudiconv.readthedocs.io/en/latest/tutorials.html
The second bullet item reads as
"Walkthrough by the Standard Center for Reproducible Neuroscience."

This this this should be the "Stanford" Center...

### Platform details:

[2019-12-10 21:49] #401 closed

[2019-12-11 16:48] yarikoptic commented on #131
related use case just came up -- when user wants to reconvert only a subset of files, specifies them in `--files` but then heudiconv picks up **all** files for that subject/session to be reconverted.
Probably worth getting back to #134 and see what we should do about that.

[2019-12-13 20:59] raana-mohyee commented on #377
Reviving this issue once again because in reading through the various threads I'm not finding a clearly articulated solution, other than grouping by accession number, which hasn't worked for me (or many others, it seems).

Wondering if there is anything for me to do other than renaming the DICOM files with the second study identifier (which would be the least appealing option short of doing a manu

[2019-12-16 20:09] yarikoptic opened #402 "Older pytest (3.0.6) lacks caplog fixture"
Ran into while building for nd90 (in addition to #400):
[code]
and I thought I checked with pytest 3.0.6 :-/

[2019-12-16 20:13] #392 closed

[2019-12-16 20:13] #400 closed

[2019-12-19 22:31] satra opened #403 "refactor dicom reads"
add `stop_before_pixels=True` to places where dicoms are read.

[2019-12-23 17:08] yarikoptic opened #405 "something (etelemetry?) causes logger to puke a traceback upon startup"
[code]

[2019-12-23 17:48] yarikoptic opened #406 "reproin: should also "sanitize" _rec field from -"
got
[code]
from validator and was wondering what it is about until I spotted that `_rec-s2p2-pF` still has the dash in the value.  Unfortunate BIDS is still not allowing for it (actually -- probably will move to allow "+" which we would remap to instead of X when time comes) https://github.com/bids-standard/bids-specification/issues/226

[2019-12-24 03:58] #403 closed

[2020-01-21 17:50] soichih opened #408 "nibabel.nicom.dicomwrappers.WrapperError: Calculated shape does not match number of frames."
### Summary

I am trying to follow the tutorial/instruction on the README, and I am running into the following error message.

[code]

[code]

As you can see, I do have some extra stuff (raw.list, some dcm2niix output) mixed into this, but I've seen this error before without these things so I don't think it's caused by it.. I can try cleaning it up if you think I should.

### Platform details:

Ch

[2020-01-21 19:43] hbraunDSP opened #409 "Feature request: Handling CTs with gantry tilt"
### Summary

I recently came across a brain CT scan acquired with gantry tilt.  This causes the stack of dicoms to be sheared, and should be corrected when converting to Nifti.  Heudiconv does not apply any gantry tilt correction when performing the dicom to Nifti conversion, leaving the brain distorted.

If someone can point me in the right direction I'll try to fix this.  Any advice to get start

[2020-01-29 21:51] pvelasco opened #410 "Difference between `scaninfo` and `bids_outfiles` in `convert.py`"
### Summary

It seems to me that `scaninfo` should be replaced with `bids_outfiles` in `convert.py:convert`

### Platform details:

Choose one:
- [ ] Local environment

- [X] Container

- Heudiconv version:

master

Hi,

I'm trying to fix some issues I'm having with the `json` files for multi-echo data and, looking at the code for `convert`, it seems to me that `scaninfo` and `bids_outfiles` have

[2020-02-05 06:45] #405 closed

[2020-02-11 16:05] tedstrauss opened #411 "TypeError: __call__() got an unexpected keyword argument 'annex_version'"
It seems that heudiconv 0.6.0 is not compatible with datalad 0.12.2:
[code]
<details><summary>DataLad 0.12.2 WTF (configuration, datalad, dependencies, environment, extensions, git-annex, location, metadata_extractors, python, system)</summary>

# WTF
## configuration <SENSITIVE, report disabled by configuration>
## datalad
  - full_version: 0.12.2
  - version: 0.12.2
## dependencies
  - appdirs:

[2020-02-12 16:06] mgxd opened #412 "curate dcmstack extracted metadata"
Unsure if this is a problem with the scanner / protocol / extraction, but we should ensure `heudiconv` output does not produce illegal JSON

related issue - https://neurostars.org/t/error-with-node-split-using-fmriprep-distortion-correction-with-fieldmap-data/6039

[2020-02-12 17:52] yarikoptic commented on #412
isn't

     File "/usr/local/miniconda/lib/python3.7/genericpath.py", line 30, in isfile
     st = os.stat(path)
     ValueError: embedded null byte

suggesting that it is null byte in the filename and has nothing to do with the content of the file?  or that is irrelevant traceback from nipype?

Also

     I’ve converted raw DICOM to NIFTI using HeuDiConv and manually inputed ‘IntendedFor’:
     [

[2020-02-13 21:45] yarikoptic commented on #162
I think multi-echo is supported by heudiconv 0.6.0 now, thus closing.  Please reopen if I am wrong.

[2020-02-13 21:45] #162 closed

[2020-02-14 20:04] mgxd opened #414 "MAINT: Drop Python 2 support"
- [ ] Remove from testing
- [ ] Clean up hacks
  - https://github.com/nipy/heudiconv/blob/2b9319d9d84e0f647fae28b4a83b75268ce8e64c/heudiconv/utils.py#L153
  - https://github.com/nipy/heudiconv/blob/2b9319d9d84e0f647fae28b4a83b75268ce8e64c/setup.py#L23
  - https://github.com/nipy/heudiconv/blob/2b9319d9d84e0f647fae28b4a83b75268ce8e64c/heudiconv/convert.py#L74
  - https://github.com/nipy/heudiconv/b

[2020-02-19 16:43] pvelasco opened #417 "`'TaskName'` not set in json files for multi-echo data"
### Summary
When extracting multi-echo EPI data, `bids/validator` gives the following error:
[code]
I found that the `'TaskName'` field is added to the json files in `embed_nifti`, which is called from `embed_metadata_from_dicoms`.  The problem is that, for multi-echo data, the call to `embed_metadata_from_dicoms`
https://github.com/nipy/heudiconv/blob/756fd80bdbc696505189cbb5c33002ee6caae2d8/heud

[2020-02-20 23:00] yarikoptic opened #421 "ME func data: is having only magnitude _sbref a sign of a "problem"?"
Dear @pvelasco and @emdupre, I need your MExpertise. In f053c0bbbd767747db9094d56ff29fc2aa64b624  we (thanks @pvelasco !) have added code which **always** adds `_rec-` (magnitude or phase) for sbref sequences, and comment said:

            # _sbref sequences reconstructing magnitude and phase generate
            # two NIfTI files IN THE SAME SERIES, so we cannot just add
            # the suffix

[2020-02-21 03:00] tsalo commented on #421
If you're not reconstructing both magnitude and phase data for the actual multiband scan, I don't think it's a problem at all. I think just getting magnitude sbrefs is probably the most common case for multiband data, whether it's also multi-echo or not, although I guess some sequences might reconstruct the complex data for the sbrefs and not the main scans by default.

As a minor note, ultimately

[2020-02-21 15:29] pvelasco commented on #421
You only get phase for the sbref series if you selected to also reconstruct the phase in the corresponding multiband run, whether is ME or not. Most people don't (they save only the magnitude), so the sbref series only have magnitude images.
I didn't realize that my commit adds the `_rec-magnitude` field to all ME sbref series, whether there were phase images or not.
I can work on a fix for that,

[2020-02-24 13:41] tsalo opened #423 "Converting uncombined (channel-level) data"
### Summary

In order to support channel-level data, I was thinking that [convert.save_converted_files](https://github.com/nipy/heudiconv/blob/fdea77ce6263d3f92e51dd8a24ac506e7a2fce4e/heudiconv/convert.py#L462) should include a check for the `CoilString` metadata field and should insert a `coil` or `channel` entity into the filenames before copying them to the output directory.

It might be worth

[2020-03-04 14:46] yarikoptic commented on #411
I believe it was addressed by https://github.com/nipy/heudiconv/pull/415

[2020-03-04 14:46] #411 closed

[2020-03-06 04:03] #280 closed

[2020-03-06 04:03] #312 closed

[2020-03-06 04:03] #355 closed

[2020-03-06 15:23] mirestrepo commented on #252
Hi - is there any further guidance on how to accomplish this? We use a Siemens scanner.. Thanks!

[2020-03-06 16:04] pvelasco commented on #252
[Here](https://github.com/cbinyu/misc_preprocessing/blob/master/completeJSONs.sh) is the file we use at our center.  Feel free to use if you find it useful.

[2020-03-07 01:13] jacobtfisher opened #426 "Conda install broken"
### Summary

It seems that installing `heudiconv` with `conda` no longer works. I've tried with a fresh environment, with python 3.6 and 3.7, and both a Mac and an Ubuntu (18.04) system. It first fails saying that there are incompatible packages, but then cannot find the conflicting packages.

This is the error message:

[code]
I have also tried downgrading to an older version of `conda` (4.6.14)

[2020-03-18 15:07] cni-md opened #427 "error v 0.6.0 philips fieldmaps and -b flag"
### Summary

I try to convert a Philips Fieldmap with heudiconv v 0.6.0 The heuristic was working with version 0.5.4
Without the -b flag the conversion is done with version 0.6.0 as well

With -b:
`['/scratch/spralat_dti/tmp/dcm2niix7rw4dlrr/convert/scratch/tmp/SpraLat/dti/sub-do33/fmap/sub-do33_fmap_001_e1.json', '/scratch/spralat_dti/tmp/dcm2niix7rw4dlrr/convert/scratch/tmp/SpraLat/dti/sub-do33/

[2020-03-20 00:10] yarikoptic commented on #414
well, we are dropping support as of 0.7, but kludges could be removed later (reassigning to 0.8)

[2020-03-20 00:15] yarikoptic commented on #427
thanks! sounds sensible.  I will just meld this fix into upcoming 0.7.0 -- I think it shouldn't break anything important ;-)

[2020-03-20 00:22] yarikoptic commented on #426
Thank you for the report!
oh well, conda is more sophisticated than poor pypi/pip, but also known for possible "impossible" installations or taking forever to figure out possible installation given dependency graph.

I will kick out 0.7.0 soon and then will try (after update pkg in conda).  Meanwhile `pip install heudiconv` might still work . On ubuntu 18.04 -- we provide it from neurodebian: http

[2020-03-20 21:07] jacobtfisher commented on #426
We were able to get it working with `pip` for now. I'll check back when `0.7.0` is released to see if the conda install is working again. Thank you!

[2020-03-25 15:17] yarikoptic opened #431 "More precise (to the month) age calculations are possible"
ATM we are just taking PatientAge field, which is (typically) floored to the full years.  NDA requires age in months, bids2nda rounds to the months according to the full years of age (see PR https://github.com/bids-standard/bids2nda/pull/32 to make it possible to go from floating point years), which is suboptimal.
It would be nice if heudiconv automagically extracted age rounded to the month -- th

[2020-03-25 16:04] satra commented on #431
i think this would depend on each center. at mit, patient age from dicoms is misleading. we always use 1/1/YOB as the DOB in the scanner console. so for all of our studies we have to update participants.tsv age column based on actual DOB. for many clinical centers they are required to put in actual DOB. for those settings i can see how heudiconv could extract actual age from studydate+patientbirth

[2020-03-27 14:52] yarikoptic commented on #421
fixed by 0eb5fbd9f40bad75ad5f081598dd66fe3aa7b0b3 included within #387

[2020-03-27 14:52] #421 closed

[2020-03-27 19:28] #417 closed

[2020-04-07 13:20] yarikoptic opened #438 "reproin: do not ignore but place as UNRECOGNIZED or alike file into subj/session"
subj/session is pretty much orthogonal, so we could at least place it under subj/session so later on bids-validator would alert us if it finds such non-standard files laying around.

[2020-04-16 20:19] tsalo opened #440 "Make main workflow callable from Python"
### Summary

Currently, heudiconv's main workflow is included in the same function that parses the CLI arguments. With a little refactoring, we could separate these two a bit to allow users to call heudiconv from within Python. I think it would be fairly easy, and it would help users like me who prefer to call heudiconv within larger Python scripts.

This is somewhat related to [this NeuroStars po

[2020-04-16 20:30] mgxd commented on #440
FWIW, we hack around this in the tests like so:
https://github.com/nipy/heudiconv/blob/a1a7cb594c5c0584868593c4516cccf4700689df/heudiconv/tests/test_regression.py#L8

although definitely onboard with separating the workflow into its own function / script.

[2020-04-21 02:40] yarikoptic opened #444 "PermissionError: [Errno 13] Permission denied: '...tests/anonymize_script.py'"
when tested as installed by `python3 -m pytest -s -v --pyargs heudiconv` it would fail since installed modules are not executable.  We should either copy that file to temporary location and make it executable or just produce those on the fly.

[2020-05-10 18:24] tsalo opened #447 "Retain sub-second resolution in acq_time column of scans tsv files"
### Summary

I am working on a method to synchronize physio data from either BioPac or Labchart with BIDS-format scan data in order to convert the physio data to BIDS format (see https://github.com/physiopy/phys2bids/pull/219). This requires sub-second acquisition timing information from the scan data. At the moment, I use the `AcquisitionTime` field heudiconv retains in the json files, but I thin

[2020-05-11 12:10] effigies opened #448 "Point nipy.org/heudiconv to RTD"
### Summary

My default for looking for Heudiconv documentation is https://nipy.org/heudiconv, which is currently a presentation from 2018. Might be some work, but it would be nice if presentations were moved under the main documentation structure, and the main Nipy.org site point to the [full docs](https://heudiconv.readthedocs.io/en/latest/).

[2020-05-11 16:12] yarikoptic commented on #448
I am confused a bit -- where is the "source" of that url?
https://nipy.org/ lists now heudiconv, no hits for heudiconv while searching within https://github.com/nipy/nipy.github.com .

[2020-05-11 16:18] effigies commented on #448
It's the `gh-pages` branch of heudiconv. Each `nipy` project, if it has GitHub pages enabled, will get those pages rendered on `nipy.org/<project>`.

[2020-05-11 16:57] yarikoptic commented on #448
d'oh -- right, thanks!  I will submit a PR shortly

[2020-05-11 21:01] effigies commented on #448
Thanks!

[2020-05-11 21:01] #448 closed

[2020-05-11 22:37] tsalo opened #450 "Use AcquisitionTime for acq_time column of scans tsv files"
### Summary

It looks like heudiconv [uses ContentTime](https://github.com/nipy/heudiconv/blob/75f2850f7f07a95ff5875aba1dfd76c09e4be201/heudiconv/bids.py#L408-L411) in the scans tsv files instead of AcquisitionTime, although I think that AcquisitionTime would be more appropriate (i.e., closer to the actual start of the scan).

Quoting @pvelasco in https://github.com/physiopy/phys2bids/pull/219#iss

[2020-05-11 22:44] yarikoptic commented on #450
Interesting, in 0.4 we "correct date/time in BIDS _scans files", will check later from what other field we switched

[2020-05-11 22:47] tsalo commented on #450
It looks like it was switched from SeriesTime in #73 a few years ago.

[2020-05-12 01:35] yarikoptic commented on #447
indeed, I see no immediate reason why we did not store sub-second resolution.  Probably with multi-second TRs etc we simply did not care enough. heh heh

[2020-05-12 02:00] yarikoptic commented on #450
looking at a sample (well -- abit atypical - the PD+T1w):
[code]
- discrepancy is quite large (4 minutes?).  I wonder if there is also contribution from having multiple clocks involved here
- dcm2niix stores the first? (smallest) AcquisitionTime in .json

For syncing phys recordings, as I have mentioned in our chat at AFNI hackathon, I think we need some markers to get clocks in sync, unless phys

[2020-05-12 14:53] pvelasco commented on #450
TL;DR
You should use the smallest `AcquisitionTime`

Long answer:

I guess the `ContentTime` is the time at which the DICOM file was created (I haven't found a definition for it), while the `AcquisitionTime` is the time the first chunk of data for that DICOM file was acquired (this was from some official Siemens documentation on image reconstruction).
In your sample dataset, it is a 2D, non-EPI Tu

[2020-05-12 15:35] tsalo commented on #450
I have had success just using the relative times (i.e., working off of the exact times _between_ scans and _between_ physio trigger onsets in their own respective time series to figure out how they match up across time series). You can see in https://github.com/physiopy/phys2bids/pull/219#issuecomment-627418772 a couple of figures showing how the method performs on an example scanning session. Tha

[2020-05-13 02:06] yarikoptic opened #452 "dire need: BIDSFile helper"
To be used in https://github.com/nipy/heudiconv/pull/441/files#diff-a48009f9efe6cc64ffdb74d06e831296R370 and in code introduced in #424 (number of locations like https://github.com/nipy/heudiconv/pull/424/files#diff-a48009f9efe6cc64ffdb74d06e831296R284).  We need some lightweight (not yet full pybids) parsing of BIDS filenames, so we could
- easily query present in them entities (`_key-value` pair

[2020-05-13 02:07] #423 closed

[2020-05-13 19:24] mick-d commented on #426
Just to follow up on this, i could install `heudiconv` fine with `conda` (`4.8.3`) on Ubuntu 20.04 in a python 3.7 env, but not in a python 3.8 env. In both cases conda channels were by order of priority: `conda-forge`, `defaults`. This fails in a brand new python 3.8 env.

<details>
<summary> <code> conda create -n heuditest python=3.8 </code></summary>

[code]
</details>

Now installing `heudico

[2020-05-22 21:32] Terf opened #455 "nibabel can't read my data and heudiconv doesn't explain why"
### Summary

When I run
[code]
I get an error that `nibabel.nicom.dicomwrappers.WrapperError: File contains more than one StackID. Cannot handle multi-stack files`. Would anyone know what a `StackID` even is? I can't find much about it either in the heudiconv docs or elsewhere online, but the stack trace indicates the problem occurs on [line 105](https://github.com/nipy/heudiconv/blob/1f6ae74f7f06

[2020-05-22 23:31] yarikoptic commented on #455
I am away from laptop ATM, but if you try with --minmeta (check for correct spelling in --help) would it work?
Any chance you could share a sample of such dicoms?

[2020-05-23 01:04] Terf commented on #455
I tried again with the `--minmeta` option (the help says that is the correct spelling), but got the same multi-stack files error. I will ask again but unfortunately I almost certainly cannot share any data.

Interestingly, my dicom directories contains files prefixed either with `MRe`, `PSg`, and `RAW`. Do these prefixes mean anything to you? When I convert just the `MRe` files, I get the multi-st

[2020-05-23 03:01] mgxd commented on #455
@Terf nibabel's MultiframeWrapper implementation currently doesn't support multiple DICOM stacks within the same multiframe image
https://github.com/nipy/nibabel/blob/b2a88b816eb74074d9c47e17e3ef68e29c0cdc04/nibabel/nicom/dicomwrappers.py#L498-L500

If you haven't already, I would try converting the DICOMs with `dcm2niix` directly

[2020-05-23 04:40] Terf commented on #455
Is there any way I can convert my data so nibabel will read it and I can use heudiconv? Or is there a way to get heudiconv to skip over files it isn't able to read and convert the rest?

When I use `dcm2niix` it seems to work (generates niftis) but at the end prints (several times):
[code]
I'm confused if this means some of the DICOMs were not actually able to be converted? [nitrc.org](https://www

[2020-05-23 12:13] yarikoptic commented on #455
Unfortunately separate. BTW what scanner/sequences those are?

[2020-05-23 15:04] Terf commented on #455
I will check in Monday to see what more about my data I'm allowed to share, but in short these particular DICOMs are from a Phillips scanner. However, my dataset as a whole contains scans from multiple sites that each use a different scanner -- a focus of my labs research is actually to quantify differences between sites/scanners. Is it possible to combine all my data into a single BIDS dataset, o

[2020-05-23 15:46] matthew-brett commented on #455
As I remember it - [dcmstack](https://github.com/moloney/dcmstack) can read multiframe DICOMs at least - will it read your DICOMs?

[2020-05-23 17:54] Terf commented on #455
@matthew-brett dcmstack does not seem to be able to read the entire directory of DICOMs.
[code]

[2020-05-26 00:30] DVSneuro opened #456 "datalad integration error: dataset containing given paths is not underneath the reference dataset"
### Summary

Hi -- I'm using the datalad integration with heudiconv, but I'm encountering a `dataset containing given paths is not underneath the reference dataset` error, which has also been flagged as an issue on the datalad issues page (https://github.com/datalad/datalad/issues/3928). Some example code and the full output is below, but I'm first creating a superdataset and a subdataset named bi

[2020-05-26 01:45] yarikoptic commented on #456
I guess dsroot is also pointing to a dataset or a git repo. We need to fix up to not go up higher than the path specified in -o.
In general though, you might want to consider using datalad run or containers-run and abandon --datalad functionality of heudiconv - it was introduced before we formalized Yoda principles , see eg https://github.com/ReproNim/containers/blob/master/README.md#repronimconta

[2020-05-26 01:47] yarikoptic commented on #456
datalad-neuroimaging BTW provides cfg_bids so you could use `datalad create -c bids` for basic initial configuration for a bids dataset (more to be done there though)

[2020-05-26 12:31] neurolabusc commented on #409
@hbraunDSP I think heudiconv is really focused on supporting MRI conversion to BIDS format. For CT data, you probably want to call dcm2niix directly. For more details, see [prior dcm2niix gantry tilt issues](https://github.com/rordenlab/dcm2niix/issues?q=gantry+tilt).

In brief, there are two issues with CT support with NIfTI:
 1. CT scans often have gantry tilt - effectively a shear in the spatia

[2020-05-26 15:22] Terf commented on #455
@yarikoptic @matthew-brett @mgxd It seems Philips scanners have a variety of output options but one of them is a sort of "enhanced" dicoms which causes this issue. My enhanced dicoms were additionally compressed (hence the unsupported transfer syntax) so I first used dcmconv to decompress then used the emf2sf tool from dcm4che to convert to standard dicoms.

[code]
I can then run heudiconv on thes

[2020-05-26 16:43] yarikoptic commented on #455
I love bottles!

[2020-05-26 18:45] DVSneuro commented on #456
Thanks for the suggestion! We'll drop the `--datalad` from huediconv and work through `datalad run` instead.

I've had some problems/questions with `datalad run`, but that's beyond the scope of the issue here, so I just [posted to NeuroStars](https://neurostars.org/t/dealing-with-locked-files-with-datalad-run/6980) to keep things more organized and clear (hopefully).

[2020-05-27 17:57] hcp4715 opened #457 "Issue caused by filelock of heudicov 0.8.0"
### Summary
The new version of heudiconv will lock all the files, which caused a problem: it can’t be modified by BIDSonym. which means that I need to change the permission of the T1 file and then run BIDSonym or crop the T1 data.

I tried to disable this function but can't  find  a solution in the tutorial, which is still based on 0.5.4
Just had a brief chat with @PeerHerholz, we thought it's bet

[2020-05-27 18:39] yarikoptic commented on #457
what exactly do you mean by "lock all the files" (we do have some locking but that should not anyhow interfere with external processes)?  Or do you mean it makes those files "read-only"?
copy/pasted output of an error would have been useful

[2020-05-27 18:50] yarikoptic commented on #457
we do seems to make those files readonly indeed, but I would take it as a feature I guess, which seems had been there for a while:
[code]
modifying raw files inplace makes them non raw really, and I guess that is what we tried to avoid - any side effects.  If someone (a tool) wants to modify those files **inplace** -- it better takes care about permissions.  It could also just remove them before w

[2020-05-27 18:50] #457 closed

[2020-05-27 20:02] hcp4715 commented on #457
Hi, @yarikoptic ,
Thanks for your quick response.

Yes, that's what meant.

I have a special situation other than deface: my T1 data have a FOV of 300 * 300, which need to be cropped to 256 * 256 before using fmriprep.

I agree make files RO is a good practice, great suggestion to move the original file under `sourcedata/`

[2020-05-28 03:01] #447 closed

[2020-05-28 03:11] yarikoptic commented on #457
FWIW filed https://github.com/PeerHerholz/BIDSonym/issues/23

[2020-06-02 02:28] WillForan commented on #38
also hit an issue here on `0.8.0`

[code]

[code]

[code]

here's more as a gist:
https://gist.github.com/WillForan/d7dbcf83011d83b531ecb3f4519ab828

[2020-06-04 16:15] Terf commented on #377
@mgxd Out of curiosity, what do you mean exactly by "erroneous conversions"? What implications does ignoring study ID (as dcm2niix seems to do) have for analysis?

This issue seems very old but for anyone coming here via Google or whatnot, pydicom makes it very easy to read study IDs, which you can use to script reorganizing files. For example
[code]

[2020-06-16 01:24] tsalo commented on #450
Just wanted to ping this so I can make some progress on physiopy/phys2bids#219. Would folks feel comfortable with me opening a PR?

[2020-06-16 18:07] yarikoptic commented on #450
thank you @tsalo for the ping!  I think we
- should indeed switch to AcquisitionTime for acq_time - makes sense
- keep "upstream first" in mind here as well - and clarify within BIDS what value is expected to be contained in the acq_time field. ATM I think it is not clarified at all: https://bids-specification.readthedocs.io/en/stable/03-modality-agnostic-files.html#scans-file

[2020-06-16 19:05] tsalo commented on #450
Okay, I can open an issue/PR to the BIDS specification. Thanks!

[2020-06-16 19:13] tsalo commented on #450
Actually, after looking at the specification I'm wary of trying to prescribe the field used for `acq_time` in the scans file. The scans file is generic across modalities, so does it make sense to say which field in the raw data of one specific modality corresponds to a field in the file?

[2020-06-16 19:37] #440 closed

[2020-06-16 19:45] pvelasco commented on #450
You could define the field `acq_time` as the time at which the acquisition of a file started.
In the case of Siemens scanners, that corresponds to the smallest `AcquisitionTime` in all the DICOM files that contribute to a give NIfTI file. I don't know for other vendors.

[2020-06-16 19:47] tsalo commented on #450
The manufacturer is something I haven't considered. @pvelasco do you have any idea who might know about other vendors?

[2020-06-16 19:51] pvelasco commented on #450
I think @neurolabusc, or he might know somebody who knows.

[2020-06-16 20:20] yarikoptic commented on #450
I think there should be some wording in BIDS which would at least say something like "time when the first data point (could be a value in a time series, an MRI slice, etc) was acquired" -- something specific.  Now it is not really clear what it corresponds to - beginning or the end... Someone could argue though that "end time" (the last data point) is a better time to keep track of, since then beg

[2020-06-16 20:47] neurolabusc commented on #450
For input, are we talking specifically about Siemens data here?

I wrote some [notes](https://www.mccauslandcenter.sc.edu/crnl/tools/part) on this several years ago:

`Siemens physiological files are not recorded precisely at 50Hz, and the physiological recordings store the start and end times for two clocks: the MPCU (physio clock) and MDH (DICOM clock). For our purposes, it is critical that we a

[2020-06-17 11:09] neurolabusc commented on #450
For completeness, here is a public [example](https://github.com/neurolabusc/dcm_qa) showing that the DICOM AcquisitionTime ([0008,0032](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0008,0032))) for the first slice of the first volume of a fMRI series is preserved in the BIDS json file:

[code]

[2020-06-17 12:41] neurolabusc commented on #450
I looked at the code for [@ostanley physio2bids](https://github.com/ostanley/physio2bids) and [@pitchaim physio2bids](https://github.com/tarrlab/physio2bids). Both assume that the sampling rate stored in the .puls and .resp files is precise, with no drift relative to the DICOM clock. Specifically, if the file lists `PULS_SAMPLES_PER_SECOND = 50` theses tools assume a precise value of 50 Hz. This w

[2020-06-17 14:34] tsalo commented on #450
@neurolabusc Thank you for the info about the physio data! On the physio side of things, I'm primarily working with BioPac data, where calculating sample rate like that wouldn't be possible since timestamps aren't included. Still, in the future when [phys2bids](https://github.com/physiopy/phys2bids) (hopefully) supports scanner-generated physio data as well, it will be good to account for drift.

[2020-06-17 16:04] neurolabusc commented on #450
Yes, the tag [AcquisitionTime (0008,0032)](https://dicom.innolitics.com/ciods/cr-image/general-image/00080032) is specified in the DICOM standard. It has a [Value Representation (VR) of TM](http://dicom.nema.org/dicom/2013/output/chtml/part05/sect_6.2.html): `A string of characters of the format HHMMSS.FFFFFF`. For EPI data like fMRI the convention seems to be storing the time for the first slice

[2020-06-17 16:47] tsalo commented on #450
That's good to hear. So then it makes sense to use the minimum `AcquisitionTime` across dicoms within a scan for the `acq_time` field in the BIDS scans file.

It's unfortunate that `AcquisitionTime` lacks slice-level resolution, but getting the time for the first slice is actually what we need for `heudiconv`, so that's good at least. Thank you for your help!

[2020-06-17 16:52] tsalo commented on #450
@yarikoptic I just opened https://github.com/bids-standard/bids-specification/issues/503. I can open an associated PR in the next couple of days.

[2020-06-17 17:50] pvelasco commented on #450
@tsalo, I have a tool ([bidsphysio](https://github.com/cbinyu/bidsphysio)) that reads a variety of different physiology files (BioPac, DICOM from CMRR multiband EPIs and PMU (Siemens scanner-generated)) and saves them in BIDS physio format. You might want to take a look at it.

After looking at your PR in phys2bids (physiopy/phys2bids#219), I'm working on the synchronization of the physio files an

[2020-06-17 18:35] tsalo commented on #450
@pvelasco lol I have glanced at `bidsphysio` before because of #446, but never actually looked through it because the repo's description just says "Converts physio data from a CMRR DICOM file". You should definitely update that to match what's in the README, because I had no idea it worked on BioPac and non-CMRR Siemens files too!

Absolutely, feel free to use `conversion.py`, although I don't kno

[2020-06-19 09:19] tib-sim opened #458 "Issue "INFO: Need to process 0 study sessions""
Hi,
I am trying to follow the tutorial http://reproducibility.stanford.edu/bids-tutorial-series-part-2a/

I am getting an error that I am struggling to understand. Yesterday, it worked perfectly until the "step 4".

However, today it’s more difficult because I have an issue “INFO: Need to process 0 study sessions” from "step 2"
I already had this issue at the beginning but I did not really underst

[2020-06-19 09:25] tib-sim commented on #458
After rebooting it works again... Do not understand what was wrong ...

[2020-06-26 20:52] tsalo opened #460 "Multi-echo and uncombined name updaters assume lists instead of sets"
### Summary

When converting multi-echo data without an EchoNumber metadata field, `heudiconv.convert.update_multiecho_name()` attempts to index `echo_times`. The problem is that this parameter is a `set`, rather than a `list`, so doing this raises an error. The same should apply to `heudiconv.convert.update_uncombined_name()`.

Here is the traceback:
[code]

This wasn't caught by the tests for th

[2020-06-26 20:53] tsalo commented on #460
I think the simplest solution is to change the `echo_times` and `channel_names` variables in `heudiconv.convert.convert()` from sets to lists. @yarikoptic does that sound alright?

I could also add in type checks to the beginning of the name-updating functions, just to be extra safe.

[2020-07-22 13:09] mgxd opened #462 "Temporary directories linger after successful heudiconv run"
Originally brought up in https://neurostars.org/t/heudiconv-v0-8-0-fails-to-remove-tmp-directories/15388

[2020-07-22 15:20] greydongilmore commented on #462
@mgxd thanks for opening this, looking forward to the patch 👍

[2020-07-29 15:12] tsalo opened #463 "AttributeError: 'Dataset' object has no attribute 'add'"
### Summary

Datalad version 0.13.0 removed `datalad add`, which is what is used in `heudiconv`.
Heudiconv's requirements include datalad >=0.12.3.

We could either require < 0.13.0 or update the datalad integration to support 0.13.0+.

### Platform details:

Choose one:
- [ ] Local environment

- [X] Container: Docker built on current master

- Heudiconv version: current master

[2020-07-29 16:04] yarikoptic commented on #463
oh crap... thanks for spotting/reporting!  I will look into cooking up a quick bugfix PR.  We should just switch `.save`, it should already be good  in 0.12.3.

Unfortunately pypi (or conda) does not have any means  to declare "Breaks" relationship (like debian allows) so we could state that datalad 0.13. broke heudiconv before upcoming now bugfix release. So AFAIK whatever we do now, since we can

[2020-07-29 16:25] yarikoptic commented on #463
may be to prevent such breakages in the future we should announce
[code]
and then boost it manually when we verify that "all is good".  It might complicate testing a bit (since pip might force older datalad) if I decide to add heudiconv to https://github.com/datalad/datalad-extensions/ to detect when we (in datalad) break api while affecting heudiconv, but that should be a separate issue

[2020-07-29 17:19] satra opened #465 "make heudiconv TODOs break bids-validator"
### Summary
i have seen some datasets converted that have TODOs but pass the validator, but fail when people are trying to run downstream scripts/workflows. i think heudiconv should intentionally force people to address the TODOs by making those files fail validation. the easy example to point to is events.tsv.

[2020-07-30 04:50] yarikoptic commented on #465
Do you have an example of a script/workflow which trips? AFAIK all our todos as following the bids spec and thus validator is silent. Events file included. I suspect that may be the tools you had in mind are buggy? ;-) I will not charge their developers for the awesome test cases heudiconv provides them with to help them catch all the bugs ;-)

Having said all that I wouldn't mind validator having

[2020-07-30 10:42] satra commented on #465
fitlins breaks on bunch of things depending on what stats models is being evaluated, but the one that tripped it most recently was an empty events.tsv for one session but not another.

[2020-07-31 13:18] #463 closed

[2020-08-03 21:45] #450 closed

[2020-08-06 15:37] tsalo opened #467 "Run automated code formatter to standardize library coding style"
### Summary

This stems from https://github.com/nipy/heudiconv/pull/466#issue-463785191 and https://github.com/nipy/heudiconv/pull/446#pullrequestreview-406715070. The coding style is very variable across the repository, so it would be helpful to standardize this with an automated code formatter, like `black`.

To do this, we need to merge current PRs and not open any new ones before the formattin

[2020-08-06 15:41] tsalo commented on #467
To start, I think that #333, #441, #454, and #461 are small enough that the authors can just deal with the merge conflicts after the fact, while #446 is fairly large and should probably be dealt with beforehand.

[2020-08-06 22:12] yarikoptic commented on #77
If this issue is still pertinent, please reopen - lots of time and releases passed since then

[2020-08-06 22:12] #77 closed

[2020-08-25 18:56] CalebRHaynes opened #468 "fmap Incorrect Output"
### Summary

Hi there,

I am having an issue fixing some errors raised by BIDS validator. I am getting **Error 1: [Code 15] ECHO_TIME1-2_NOT_DEFINED** referencing the phase difference images.

Upon realizing this, we found some fmaps were being split into to two images-magnitude1 and magnitude2, which were of a different size. If helpful, I can share some data privately to debug further. It seems

[2020-09-14 13:05] ChristianNSchmitz commented on #138
Hey @mgxd, is there any update on this feature? Thanks a lot!

[2020-09-24 05:53] S-Sanaz opened #469 "PermissionError: [WinError 32] The process cannot access the file because it is being used by another process"
### Summary

Hey.
I get the error  "PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\...\\AppData\\Local\\Temp\\dcm2niix09xvxwox\\convert'

I write the command as follow:
heudiconv -d /Users/.../Documents/GitHub/Data-{subject}-S1/*/*/*/*/*/* -s 021 -c dcm2niix -b –f /Users/.../Documents/GitHub/heuristic.py -o /Users/.../Docu

[2020-10-15 14:41] #468 closed

[2020-10-23 20:58] CalebRHaynes opened #470 "Import error when .heudiconv file exists in path with a heuristic python file"
### Summary

Hi!

I have found it easier to pull the information I need to make a heuristic out of the .heudiconv directory and keeping it in my code directory. I realized today that if the hidden path still exists the -f flag will only look in the .hedudiconv folder and then thtow a module not found error (because it is no longer in the .heudiconv folder).

I think it would be a great feature to

[2020-10-23 21:25] CalebRHaynes commented on #470
On second thought I think my folder structure just needs to change to accommodate. Thank you!!

[2020-10-23 21:25] #470 closed

[2020-10-29 15:15] pvelasco opened #472 ""CogAtlasID": "TODO" results in a "code: 55 - JSON_SCHEMA_VALIDATION_ERROR""
### Summary

The placeholder valued assigned to `"CogAtlasID"` (`"TODO"`) results in a `"code: 55 - JSON_SCHEMA_VALIDATION_ERROR"` when running BIDS validator.

Specific error:
[code]

I understand people are supposed to edit those task json files and enter the correct `CogAtlasID` (or delete that field). The problem is that we (@cbinyu) run bids-validator (and some BIDS Apps) automatically after

[2020-11-04 23:05] ChristianNSchmitz opened #474 "Heudiconv: Automatically include “IntendedFor” field in the metadata"
Dear heudiconv-team,
we are using heudiconv and fmriprep for preprocessing functional MRI data. As we would like to use fieldmaps to unwarp these images, the fieldmap-metadata has to include the key “IntendedFor” in order to be used with fmriprep.
Is there a way for heudiconv to automatically include this data in the metadata using the heuristic file? I have seen that the package fw-heudiconv does

[2020-11-05 00:54] yarikoptic commented on #474
Unfortunately not yet automagically. Original issue https://github.com/nipy/heudiconv/issues/138

[2020-11-13 02:55] mirestrepo commented on #138
In case it's helpful, [this](https://github.com/brown-bnc/xnat-tools/blob/39d9bd2d9a2788df3305dd3d91d08c5101cf979d/xnat_tools/bids_utils.py#L14) is our work around, we do it as a post processing step

[2020-11-13 02:56] mirestrepo commented on #474
In case it's helpful, [this](https://github.com/brown-bnc/xnat-tools/blob/39d9bd2d9a2788df3305dd3d91d08c5101cf979d/xnat_tools/bids_utils.py#L14) is our work around, we do it as a post processing step

[2020-11-30 18:09] yarikoptic opened #475 "ENH: Use fscacher"
We started to develop https://github.com/con/fscacher/ which could come handy for heudiconv, in particular for functions extracting desired metadata from dicom files.  It would be great to avoid long wait times on "reruns" while tuning heuristics etc.

[2020-11-30 18:12] satra commented on #475
you could just switch to pydra where every function call would be cached. it's a little different, than just file-system caching, but you would also get the benefits of parallel workflows, integration with slurm, on top of caching.

[2020-12-02 18:51] tsalo opened #476 "Replace rec entity with part entity for complex-valued data"
### Summary

Now that bids-standard/bids-specification#424 has been merged, BIDS will support the `part` entity for dissociating magnitude and phase data in its next release. Currently, heudiconv uses `rec-<magnitude|phase>` instead. To fix this, [`heudiconv.convert.update_complex_name()`](https://github.com/nipy/heudiconv/blob/d855f64d5013f8a0e41789766a094d3c3a91552f/heudiconv/convert.py#L236) ne

[2020-12-08 14:46] LexHayes opened #478 "Heudiconv: INFO: Need to process 0 study sessions"
Hi,

I'm running into an issue with HeuDiConv.
I had already ran HeuDiConv on my data but need to rerun it.
When I run the following command;

docker run --rm -it -v ~/Volumes/toshiba/DICOMS/2:/data:ro -v ~/Volumes/toshiba/BIDS:/output nipy/heudiconv:latest -d /data/{subject}/{session}/.dcm -s 2002 --ses 1 -f convertall -c none -o /output

I am getting this message
INFO: Running heudiconv version

[2020-12-08 14:58] pvelasco commented on #478
I think you are missing an asterisk (`*`) in front of `.dcm`.
Try running:
[code]

[2020-12-08 15:03] LexHayes commented on #478
Hi,

Thanks for your quick response - I have just reran with the asterisk as suggested and am still receiving the same message unfortunately

[2020-12-08 15:07] pvelasco commented on #478
Can you please try to run the following?

[code]
That will give you a prompt inside the docker container. Then, at the prompt, run:
[code]

[2020-12-08 15:14] LexHayes commented on #478
Sure, just tried to run this and got the following error:

heudiconv: error: unrecognized arguments: --entrypoint /bin/bash nipy/heudiconv:latest

[2020-12-08 15:22] pvelasco commented on #478
Did you enter the `docker run` command all in one line?
The `--entrypoint /bin/bash` argument is for the `docker run` to interpret, not for `heudiconv`. I don't understand how the `--entrypoint /bin/bash` is being passed into the docker container (which runs `heudiconv`)

[2020-12-08 15:45] LexHayes commented on #478
Sorry my mistake!

I have just reran and it gets me to the prompt at which I have entered

ls -lh /data/2002/1/

and I get this error message

ls: cannot access '/data/2002/1/': No such file or directory

I've double and triple checked the file path and it is correct

[2020-12-08 16:36] #476 closed

[2020-12-08 17:50] pvelasco commented on #478
So it looks like you cannot access those files from within the docker container.

I don't know about your specific setup, but in my case it happened when I tried to add a volume from the host that was, in turn, mounted by the host from a different server. The solution was to pass the mounting point as the `-v` argument.  E.g., if your host is mounting a folder called `data` at the mounting point `

[2020-12-08 20:41] pvelasco commented on #474
I have written a module to do this (and also add a "NumberOfVolumes" field to the functional jsons), and I would like to add it to this repo.
To run it, you need to have all the json files extracted in the destination folder, so what would be the place to insert the call?

[2020-12-08 22:07] yarikoptic opened #479 "GE scanner pepolar maps - both AP and PA are in the same series/.nii.gz"
I am helping to convert some data from GE DISCOVERY MR750 using heudiconv and EPI pepolar maps come as
- Series Description `SE_EPI_B0`, PulseSequenceName `muxepi2` -- 8 dynamics (not yet sure what to eat them with)
- Series Description `GE_EPI_B0`, PulseSequenceName `epi_pepolar`  -- 4 dynamics with AP/PA flips, so the ones of interest.
Here are some fields from their side car .json produced by d

[2020-12-08 22:12] neurolabusc commented on #479
Upgrade to the current stable release [v1.0.20201102](https://github.com/rordenlab/dcm2niix/releases/tag/v1.0.20201102). The release notes describe improved meta-data for GE, with a link to [this validation dataset](https://github.com/neurolabusc/dcm_qa_ge). The validation dataset provides a recipe for determining phase encoding polarity. Thanks to @mr-jaemin and other GE engineers.

[2020-12-08 22:45] yarikoptic commented on #479
THANK YOU @neurolabusc AKA Chris!  I will give it a shot and report back

[2020-12-08 23:33] yarikoptic commented on #474
I think it would be useful also as a "tool" (command) to run, so why not to
- add `populate_intended_for(path_to_bids_session)` to heudiconv/bids.py
- interface in `main.py:process_extra_commands` by sweeping across provided paths
- then we would need to interface it also in `convert.py:convert`

[2020-12-09 23:51] #472 closed

[2020-12-10 20:23] yarikoptic commented on #479
On a quick look, using v1.0.20201102 provided no notable differences besides some to .json content with higher precision of floats,  and change to how dicom values are stored, e.g.
[code]

data itself is identical
[code]

[2020-12-10 21:16] neurolabusc commented on #479
Maybe I do not understand your question or your data.

1. The image data should be identical. The difference phase encoding polarities must be acquired as separate series, so they will be separate images. Does the JSON tag "PhaseEncodingDirection" distinguish between the AP and PA acquisitions, e.g. "j" and "j-"? Are the RL and LR series listed as "i" and "i-"?
2. If the answer is no, can you chec

[2020-12-11 01:58] yarikoptic commented on #479
pinged you via `mailbox.sc.edu` email @neurolabusc

[2020-12-11 02:28] yarikoptic commented on #38
I think I have ran into this issue as well!  Note that prior "lost bval/bvec" boiled down to need of fixing nipype: https://github.com/nipy/heudiconv/issues/13 ... yet to investigate in detail what is going on

[2020-12-11 02:40] yarikoptic commented on #38
tested with nipype master (1.6.0-1-g47fe00b38, with that extra commit about mrtrix3, so unrelated) -- worked correctly! not sure what specific commit in nipype fixed up this issue yet.  as much as love nipype and nipypers, but for a single interface of dcm2niix, it is imho too large of a beast (goes back to #6), heh.  I guess we can resolve this issue by demanding nipype >= 1.6.0 , unless someone

[2020-12-11 02:52] satra commented on #38
i think nipype at one point served a few more things including provenance. but it's true at this point it would be advantages to turn dcm2niix into a pydra task and switch to pydra with all the parallelization that's possible and make heudiconv much leaner.

[2020-12-11 02:53] yarikoptic commented on #38
ok, manually bisected to https://github.com/nipy/nipype/pull/2936 which appears in the `git lg` (one line) with descriptive `rf+enh: dcm2niix` ;-)  it is `1.2.3~1^2` so we need at least that version

[2020-12-11 14:31] #38 closed

[2020-12-11 15:35] neurolabusc commented on #479
@yarikoptic the typical usage of TOPUP is to acquire two sequential series that are identical except with an exception in the phase encoding polarity.

Your dataset does not follow this convention. For your custom sequence, the phase encoding direction is reversed after each volume, so that the odd and even volumes in the time series differ in their phase encoding. This reversal is not encoded in

[2020-12-11 15:49] yarikoptic commented on #479
Just to make sure:

so you think dcm2niix should not "centralize" this knowledge (upon detecting such a sequence) and separate out those into two images e.g. in `-b y` mode, since BIDS mandates separate files?

eh, there is also that `Series Description SE_EPI_B0, PulseSequenceName muxepi2` I had mentioned, but it doesn't look like the one flipping AP/PA.  I guess we should read more on the ABCD s

[2020-12-11 16:07] neurolabusc commented on #479
1. The DICOM header information from this custom sequence is incorrect. Neither  (0020,0037) or (0043,102A) reflect reality. Feel free to submit a pull request if you want to support this format and are convinced there is a robust way to detect them. However, I do think this is beyond the remit of dcm2niix. Ignoring the explicit values in the DICOM header is a recipe for unintended consequences. T

[2020-12-11 16:19] yarikoptic commented on #479
Thank you for the exhaustive explanations!  I guess we could indeed handle `1.` within heudiconv -- after all it is the "heuristic" converter ;)

[2020-12-16 17:44] mirestrepo opened #481 "Question: Why is dcm2niix saving to /tmp"
### Summary

In our logs I can see that `dcm2niix` is saving to a random folder in `/tmp`. For instance I get messages like this one:
[code]
If we isolate our containers from host, i.e, `--contain` flag in singularity, then the container `/tmp` may run out of memory to store all the nifti files. While we have ways to work around this, it took a while to figure out what was going on. Our `nii.gz` w

[2020-12-16 18:18] yarikoptic commented on #481
On one hand I am not sure if heudiconv should use any other directory as "temporary" unless explicitly instructed to do so.  But on the other -- large converted files might then end up on a different partition from the target one, so not only exhaust `/tmp` but also result in less efficient transfer to the target location (yet to check if we `cp` or `mv` here ;)).  So we might want to reconsider.

[2020-12-16 18:20] yarikoptic commented on #481
Oh, and on "why"  -- we "group" dicoms to be converted from a single series (source directory could have many series dumped into a single directory) and place into that temporary directory to pass to `dcm2niix`.

[2020-12-16 18:29] mirestrepo commented on #481
I was just running `fmriprep` and was reminded that they have an input  `-w, --work-dir`, to set their working directory, which I think it serves the same purpose. Would it make sense for heudiconv to do the same?

[2020-12-20 15:19] yarikoptic opened #483 "AttributeError: 'PosixPath' object has no attribute 'lower'"
Building backport for debian stable (buster) with python 3.7 leads to test_copy_header to error with

[code]

[2020-12-20 20:25] yarikoptic commented on #483
d'oh -- just now realized that it is coming from nibabel, surprised that this code path was not triggered by any of its unittests. Transferring to nibabel

[2020-12-23 13:31] #481 closed

[2020-12-23 13:31] #462 closed

[2020-12-25 04:31] costantinoai commented on #303
If anyone incurs in the same problem, this is the code I used to fix the offending files:

[code]

[2021-01-06 18:05] pvelasco opened #486 "test_heuristics fails on Docker image"
### Summary

When trying to run the unit tests inside the official Docker image, the `test_reproin_largely_smoke` fails because the `hexsha` changes when calling with `--overwrite`.

### Platform details:

Choose one:
- [ ] Local environment

- [x] Container:

`nipy/heudiconv:0.9.0`, but it also fails since `0.6.0`
- Heudiconv version:

`0.9.0`, all the way back to `0.6.0`

To replicate failed tes

[2021-01-07 18:27] mckenziephagen opened #488 "Pydicom empty file error"
### Summary

Heudiconv failing when encountering an empty dicom file, due to a pydicom error.  [This error has since been solved ](https://github.com/pydicom/pydicom/issues/810) in newer versions of pydicom, but heudiconv is still using an older version.

[code]

### Platform details:

Choose one:
- [ ] Local environment

- [x ] Container

Singularity container: heudiconv_0.5.4.sif
=

[2021-01-07 19:11] pvelasco commented on #488
It looks like that the bug fix was rolled out for [pydicom 1.3.0](/pydicom/pydicom/commit/356a51ab4bc54fd18950041ebc44dbfa1a425a10).
The [Docker image](https://hub.docker.com/layers/nipy/heudiconv/0.9.0/images/sha256-42a4ab94a4af122e1031648f28dbc40a05b8b6cd6e720c7e94e539e93a519636) for the latest `heudiconv` release ([0.9.0](/nipy/heudiconv/releases/tag/v0.9.0)) seems to use pydicom 2.1.2, so it l

[2021-01-07 19:17] mckenziephagen commented on #488
Oh, I was using 0.5.4 because of I used the documentation to install - I'll rebuild and confirm that that gets rid of the problem.

Thanks for pointing that out!

[2021-01-08 21:57] #488 closed

[2021-01-12 10:43] yushiangsu opened #490 "How to deal with a case that the order of AcquisitionTime is not consistent to SeriesNumber"
### Summary

I have a case that the scanner console froze during the scanning. The console had to reboot and resume scanning protocol.  And subject came out and back to scanner. We scanned fieldmap and T2 for new registration and continued functional runs. As consequence, two different images sets with different StudyInstanceUID, but have the same protocol name and SeriesNumber.

The sequence and

[2021-01-15 13:35] yarikoptic commented on #490
If I got it right upon a brief look, behaviors you are describing are pretty much up to heuristic's logic. Which heuristic are you using? e.g. in reproin heuristic, in case of detecting duplicate runs (the same protocol name) we assume that the first one was canceled/rerun and add `__dup` suffix to signal that (for inspection and possible removal)

[2021-01-21 12:57] yushiangsu commented on #490
Thanks for your concerns!
I followed the [tutorial from Stanford Center for Reproducible Neuroscience](https://reproducibility.stanford.edu/bids-tutorial-series-part-2a/). At beginning, I ran heudiconv with the flag `-f convertall` and `-c none -b -g all` to create dicominfo.tsv. This dicominfo.tsv table showed in my first comment. I would say the heuristic "convertall" failed to recognize two ima

[2021-01-21 15:51] pvelasco commented on #490
Hi @yushiangsu,

Regarding the order of the runs, you can check [what we do in our custom heuristic file](https://github.com/cbinyu/heudiconv/blob/f33c5fdcb6df33e12c99b8490206ed8ab6ee4e4d/heudiconv/heuristics/cbi_heuristic_simple.py#L190-L229) to sort by acquisition date and time, precisely for situations like this (now that AcquisitionTime is stored in the `seqinfo` #487).

Then, you can add a ca

[2021-01-21 16:41] yarikoptic commented on #490
Sounds sensible but first needs a check on either we already do not do some sorting which might "contradict" sorting by AcquisitionTime (SeriesNumber?)... also acquisition time sorting alone would not be sufficient in light of #487 discussion, so should be combined with SeriesNumber

[2021-01-25 18:11] mckenziephagen commented on #460
Running into this exact issue, version `0.9.0` in a singularity container. Is the above PR going to be merged sometime soon, or am I better off making these changes myself in my singularity container? Thanks!

[2021-01-25 18:29] tsalo commented on #460
I think it's ready, but I don't know if anyone has had a chance to review.

[2021-01-25 18:50] tsalo commented on #460
@mckenziephagen If you have the time, it might be helpful if you could review #461?

[2021-01-25 19:46] mckenziephagen commented on #460
Can do - what exactly does a review entail for this project?

[2021-02-04 19:59] hrswearingen opened #493 "De-Identifying Dicom Headers"
### Summary

We are working a group that is using AI and NLP to de-identify and replace dates in dicom images. We use heudiconv and other pipelines (MRIQC, fMRIprep), and are wondering if using characters (e.g. hashtags or question marks) in place of the date in the dicom header would cause errors in heudiconv or other pipelines.

### Platform details:

Choose one:
- [ X] Local environment

- [ ]

[2021-02-05 14:34] yarikoptic commented on #493
I guess it could whenever tools expect a date or datetime data types to be presented there, in particular if a tool takes care about "anonimizing" the date but introducing consistent (for the dataset) offset to follow BIDS recommendation for dates anonimization: https://bids-specification.readthedocs.io/en/stable/03-modality-agnostic-files.html#scans-file

[2021-02-23 13:17] neurorepro opened #497 "What is (or could be) the use of `annotation_classes` in `create_key` ?"
### Summary

It would be great to know what the intended use, and/or what could be the alternate use of the parameter `annotation_classes` in the function `create_key`.

### Platform details:

- Heudiconv version:

[code]

[2021-03-10 15:56] tessaclarkson opened #498 "Randomly not creating event.tsv placeholders"
### Summary
 the conversion of all of the data for all subjects worked fine. the only issues was that for 4 of the 19 subjects pulled through the script the events.tsv placeholder files were not created. (this is not a big deal since we generate these later on, but I thought i would report in case it was a bug)

### Platform details:

Choose one:
- [ ] Local environment

- [ ] Container
 singulari

[2021-03-10 22:47] yarikoptic commented on #498
Thanks for the report but I am not sure if it is "actionable" since not enough information provided (heuristic, logs, etc), and also current version of heudiconv is 0.9.0 .  If you have a chance to try that recent version  and it also produces no placeholders -- feel more than welcome to reopen (ideally with more information).

[2021-03-10 22:47] #498 closed

[2021-03-26 00:07] JoshuaUrrutia opened #499 "Participants.tsv will null values"
### Summary

In participants.tsv age and sex have null values (empty cells) instead of a 'n/a', which causes bids validation to fail.

I'm not sure these N/A replacements catch all the edge cases:
https://github.com/nipy/heudiconv/blob/master/heudiconv/bids.py#L285

I would've expected age to be fixed by this commit:
https://github.com/nipy/heudiconv/commit/7a7ef5c5f9852ef2b479aafcd5e09e462a08193c

[2021-03-26 17:31] yarikoptic commented on #499
v0.9.0-14-g7a7ef5c fixed it for sex but we still have `age.lstrip('0').rstrip('Y') if age else 'N/A'` for age... so PR is coming shortly to fix it all up and improve a bit more

[2021-03-29 16:19] #499 closed

[2021-04-03 19:23] crcox opened #502 "Control what appears in dicominfo"
### Summary

This is just a question. I am exploring many acquisition protocols at the moment. Some of the information distinguishing those protocols can be found within the DICOM header, but is not reported in dicominfo.tsv. Is there an easy/intended way for the content of dicominfo to be controlled? [edit] What I am really interested in is the information in `sessinfo` that can be accessed in th

[2021-04-03 20:19] yarikoptic commented on #502
Unfortunately not and we have related pr to store path to a sample dicom file https://github.com/nipy/heudiconv/pull/333

I wonder if we should just allow heuristic to specify a list of fields to be extracted which we would just store somehow (allowing later for expansion of our record) in the tsv - we would just need to take care about possible tabs in the values to but interfere

[2021-04-03 21:03] satra commented on #502
i guess this is more of a design issue. since the info only option does not care about the heuristic file, adding options should be outside of the heuristic i think. so perhaps an additional option to heudiconv. indeed #333 was created primarily to allow the heuristic to extract any info from the dicom file without having to specify the fields a priori.

i think there is also a related issue of wh

[2021-04-05 20:01] crcox commented on #502
@satra At the risk of wading out of my depth: I agree with you that this might best be implemented as an option to heudiconv, rather than at the point of the heuristic script. Like a DicomHeaderExtras option, or something, that would accept a list of inputs from the command line. I imagine that would be sufficient for most use cases. In my specific case, there is just one additional DICOM header v

[2021-04-06 15:06] yarikoptic commented on #502
Well, I think this is just a manifestation of multiple possible workflows on how heudiconv could be used.

In my use-cases they are heavily "heuristic-driven" and do not rely on manual tune up of all the .edit.tsv. So if heuristic needs extra information from DICOMs it is only reasonable to have that heuristic to specify what extra fields (and possibly with some harmonization across scanners etc)

[2021-04-07 10:35] neurorepro opened #503 "Adding support for scanner-processed data in reproin ?"
### Summary
We are using `heudiconv` to automatically convert data from our Siemens scanner (Prisma) based on reproin. An issue arises when a sequence has different kinds of scanner post-processing operations, e.g. one volume without normalization and the same volume with normalization, etc. In this case reproin identifies the same volume processed differently by the scanner as duplicates, with th

[2021-04-07 14:04] yarikoptic commented on #503
I am confirming that it was intentional decision at some point to skip all preprocessed on the scanner volumes, besides motion corrected: https://github.com/nipy/heudiconv/blob/master/heudiconv/heuristics/reproin.py#L500 .
If there is desire/need to store also other processed, I guess we should do that, PR would be welcome.

- I think that `_rec` should be used only for the cases were we know that

[2021-04-07 14:21] ChristianNSchmitz opened #504 "Feature request: Support for ASL"
Dear nipy-team,

We would like to ask you if you are planning support of heudiconv for ASL (newly published on BIDS v1.5.0 on 2021-02-23)?

Best wishes and thanks!
Christian

[2021-04-20 02:33] hbraunDSP opened #505 "Error when dicom dir name contains parenthesis"
### Summary

Heudiconv is failing on my new heuristic file, and I'm pretty sure it's because one of my test dicoms has parentheses in the name.  The relevant section of heudiconv's output is below:

[code]

If I modify my heuristic file to ignore any dirs with "(" in the name, the problem goes away.  I think the solution is to enclose the input file in quotes in the call to dcm2niix, like so:
`dcm

[2021-04-20 16:38] hbraunDSP opened #506 "Can I output BIDS-style JSON sidecar files in a non-BIDS dataset?"
### Summary

I would like to output BIDS-style *.json metadata files, but don't want any other BIDS features.  Is this possible?  I'm hoping it can be done through the `--dcmconfig` option but I can't find any documentation on how to use it.

### Platform details:

Choose one:
- [x] Local environment

- [ ] Container

CentOS Linux release 7.9.2009 (Core), Python 3.6.8 :: Anaconda custom (64-bit)

[2021-04-30 23:03] yarikoptic commented on #506
I don't think it is possible ATM.  We do have `--bids ` option which already can take "notop" which would not create top level files.  May be someone could bolt on more of options to get to the bottom of achieving "sidecar-only" mode, but I think it might be "too deep" to be worthwhile torturing "bids mode" of operation. Overall -- if possible to achieve desired without major torture, PR is welcom

[2021-04-30 23:04] yarikoptic commented on #505
oh, smells like nipype issue. What version of nipype you have? attn @satra

[2021-04-30 23:06] yarikoptic commented on #504
yeah, would be nice... never dealt with that beast yet so have no clue on its "specifics" -- any sample dicoms available anywhere. I wonder what special treatment would it need if any? i.e. I see that some specific heuristics (like reproin) might need to be adjusted but heudiconv code itself might not need?

[2021-05-04 16:10] hbraunDSP commented on #506
OK.  All I needed was to call dcm2niix with the `-b y` option, and I was hoping there was a way to pass options directly to it.  You're right, this isn't worth adding. My problem was that I had to keep some existing subject IDs that contained underscores and BIDS mode was (correctly) removing them.

For anyone else dealing with a similar problem: My workaround is to pass the unsanitized subject ID

[2021-05-04 16:10] #506 closed

[2021-05-04 16:19] hbraunDSP commented on #505
This happened with nipype v1.4.0

[2021-05-04 17:29] yarikoptic commented on #505
FTR: in reproin 0.9.0 container we have 1.6.0 and upstream seems to have 1.5.1 as the most recent (well, Sep 2020).  If you could check with some more recent one, would be appreciated so we avoid chasing a possibly already mediated issue.

[2021-05-04 17:41] yarikoptic commented on #506
might be of help -- you can point to a config file for dcm2niix:
[code]
but I am not sure what you end up in terms of files naming at the end, i.e. either produced then sidecar files would be properly treated/renamed etc.

[2021-05-05 13:43] yarikoptic commented on #43
overall -- we do support session specification in CLI (`-ss`) and heuristics (e.g. look at reproin) can deduce session from seqinfo (reproin uses a dedicated `_ses-?` in one/all of the sequence names e.g. scout). Overall, I think it is supported. Feel welcome to reopen if you feel there is more to be done

[2021-05-05 13:43] #43 closed

[2021-05-05 13:44] yarikoptic opened #509 "Commit message uses non-anonymized subject id"
Here
[code]
even if `--anon-cmd` was provided

[2021-05-06 19:44] jli-bwh opened #510 "Multiple nifti files after conversion of one protocol"
### Summary

After running heudiconv using modified convert.py with dcm2niix on one T1 protocol, I am getting 4 different nifiti files with the following namings:

sub-01_T1w_heudiconv422_e1.nii.gz  sub-01_T1w_heudiconv422_e3.nii.gz
sub-01_T1w_heudiconv422_e2.nii.gz  sub-01_T1w_heudiconv422_e4.nii.gz

Each file is slightly different in contrast and intensity but overall look the same. Any idea on

[2021-05-06 19:55] yarikoptic commented on #510
well, most likely different preprocessing done on scanner.  I do not think it is anything for us to fix up (in particular for a "modified convert.py" ;))

[2021-05-06 20:06] jli-bwh commented on #510
Thanks for the quick reply! Sorry for the confusion about 'modified convert.py'. I meant to say I modified the heuristics file with the following infotodict function based on the tsv file generated from heudiconv:

def infotodict(seqinfo):
    t1w = create_key('sub-{subject}/anat/sub-{subject}_T1w')
and
     if (s.dim1 == 256) and (s.dim2 == 256) and (s.dim3 == 704) and ('T1' in s.series_descripti

[2021-05-06 20:10] yarikoptic commented on #510
may be run with --bids and see what is different (if anything) among fields in sidecar .json files.  Also could try to run dcm2niix -b y directly on that set of dicoms to see what you would get.  Hard to say anything else useful from the information provided

[2021-05-06 20:22] jli-bwh commented on #510
Thanks for the suggestions! Just tried running dcm2niix -b y directoly on that set of dicoms and it's also giving out four different nifti files with e1 to e4 extensions. Seems to be that multiple preprocessing were done at the scanner that we didn't know about. Thanks a lot!

[2021-05-06 20:22] #510 closed

[2021-05-06 21:17] yarikoptic commented on #510
well, looking at
https://github.com/rordenlab/dcm2niix//blob/HEAD/console/nii_dicom_batch.cpp#L2660
could it be a multiecho image?

[2021-05-06 21:36] jli-bwh commented on #510
You are right! this is a multiecho image and I just found this thread from dcm2niix about supporting multiecho imaging issue
https://github.com/rordenlab/dcm2niix/issues/101

This is our first time dealing with multiecho image. Would you have any advice on which image we should use out of the four or if there is any way we could combine them together?

[2021-05-06 23:00] yarikoptic commented on #509
doh -- this was not produced by heudiconv but reproin helper prototype script https://github.com/ReproNim/reproin/blob/master/bin/reproin , nothing to fix here besides that I ran into #511

[2021-05-06 23:00] #509 closed

[2021-05-07 11:56] pvelasco commented on #510
Yes, this is a ME-MPRAGE (or maybe a ME-GRE?).  You can take a look at the following reference, where they explain the advantages of ME-MPRAGE over standard MPRAGE (1 echo):
A. J. W. van der Kouwe, T. Benner, D. H. Salat, B. Fischl, Brain morphometry with multiecho MPRAGE, NeuroImage, 40, 559–569 (2008).

I'm surprised that the filenames you get are not BIDS-compliant (they should have "_echo-1",

[2021-05-07 14:07] jli-bwh commented on #510
This is indeed a ME-MPRAGE. Thanks for the reference on the advantages of ME-MPRAGE over MPRAGE! We didn't look closley at the protocol at first but good to know that we actually did it in a better way. Now we just need to look for ways to combine different echos and see if it's possible.

The echo time for the four different echoes are the following:
"EchoTime": 0.00169
"EchoTime": 0.00355
"EchoT

[2021-05-07 14:42] pvelasco commented on #510
I found in [NeuroStars](https://neurostars.org/t/memprage-rms-not-echoes-for-recon-all-with-fmriprep/4778) that people in the FreeSurfer mailing list suggest computing the RMS.  You can do that using, for example, `fslmaths`.
Then, if you want to use your combined image for fMRIPrep, you might have to remove the individual echoes out of the way.

If you don't need to use fMRIPrep, I think you can

[2021-05-07 15:06] pvelasco commented on #510
Never mind, I found an old dataset I collected on a phantom. I'll test it using it.

[2021-05-11 21:46] yarikoptic opened #513 "Dockerfile keeps pointing to elderly dcm2niix; Mess among container "versions" flavors"
Dockerfile in this repo nicely and reproducibly installing elderly v1.0.20190410
[code]

To add to the insult we also provide reproin-built heudiconv containers and those ATM seems to carry different dcm2niix between docker and singularity builds (although should be from the same recipe):

[code]

poor users and us uff...

[2021-05-12 13:30] ChristianNSchmitz opened #514 "Feature request: Support for PET-data"
Dear nipy-team,

Next to the ASL-support would like to ask you if you are planning support of heudiconv for PET (newly published on BIDS v1.5.0 on 2021-02-23)?

Best wishes and thanks!
Christian

[2021-05-13 20:09] pvelasco commented on #510
Hi @jli-bwh ,

I managed to convert the data successfully using the following heuristic (these are the contents of the whole file):

[code]

I guess in your case, you can substitute the `if s.sequence...` line with:
[code]

Please let me know if this worked.

[2021-05-13 20:34] hbraunDSP commented on #505
I ran with nipype 1.6.0 and the images with parentheses were processed OK.  It looks like this has already been solved.

[2021-05-13 20:34] #505 closed

[2021-05-13 21:10] yarikoptic commented on #505
Great, thanks!

[2021-05-27 19:49] jli-bwh commented on #510
Thank you Pablo for looking into this and suggesting the heuristic! Sorry for the late reply. I just tried the heuristic on the multi-echo t1 scan and heudiconv did run successfully to convert the scans into separate echoes. I would say the only problem is that there is 'heudiconv513' or 'heudiconv###' in the naming but I don't think that matters too much. For example, converted results have this

[2021-05-27 19:53] pvelasco commented on #510
Hi @jli-bwh,

If your data is shareable, you can put it somewhere and send me an email (first_name dot last_name at nyu dot edu) with the link. I will take a look to see what's going on...

[2021-06-14 19:08] neurolabusc commented on #514
Christian -
 Most of the BIDS MRI tags have a direct correspondence with existing DICOM tags, so they can be automatically extracted from the DICOM datasets by dcm2niix (and therefore heudiconv).
 On the other hand, BIDS [BEP009](https://bids-specification.readthedocs.io/en/v1.2.1/06-extensions.html) defines a lot of PET-specific BIDS tags, but many do not seem to have corresponding DICOM [Positro

[2021-06-14 19:16] neurolabusc commented on #504
My response is similar to [issue 514](https://github.com/nipy/heudiconv/issues/514), except [BEP005](https://docs.google.com/document/d/15tnn5F10KpgHypaQJNNGiNKsni9035GtDqJzWqkkP6c) instead of BEP009. The files you link to only show the BIDS/NIfTI solution, without the DICOM images that they should be derived from. Without exemplars of input and output, it is hard to support this.

I did generate

[2021-06-15 12:02] neurolabusc commented on #493
dcm2niix will be very robust at handling garbage for dates. However, other tools may be less forgiving. It might be worth considering setting your DA fields to a known [constant](https://www.aps.org/publications/apsnews/200607/history.cfm), for example [20210210] -> [19700703]. You will want to be more careful setting the Time-Of-Day (TM) values. For physiological data like Siemens pulse and respi

[2021-06-16 23:57] yarikoptic opened #515 "Create/populate .bidsignore with .git (if datalad mode?) and .heudiconv"
It seems that many BIDS tools might look outside of the standardized by BIDS locations, and thus end up in .git or in .heudiconv and then complain about their hard destiny. (e.g. https://github.com/nipreps/fmriprep/issues/2426 but user followed up with complaints about .heudiconv after `datalad clean`).

To prevent that from happening I think we should just populate in bids mode .bidsignore with a

[2021-06-23 13:57] effigies commented on #515
Yes, `.bidsignore` is specifically a validator solution. The problem is that ignoring could either mean "ignore file" or "ignore errors related to file". In the validator it's the same, in other tools, it's ambiguous.

It might make sense to put `.heudiconv` into `.gitignore`, so that it never enters the dataset, though perhaps that's also not desirable.

[2021-06-23 14:08] mgxd commented on #515
alternatively, we could stick `.heudiconv/` into `<bids-root>/code` in the case of BIDS conversions

[2021-06-23 14:10] effigies commented on #515
Is it code or provenance?

[2021-06-23 14:12] mgxd commented on #515
I think it falls in line with the definition of what it's intended for the [spec](https://bids-specification.readthedocs.io/en/stable/03-modality-agnostic-files.html#code), specifically

[2021-06-23 14:14] effigies commented on #515
Seems reasonable, then. Found one in my cache to look at, and it looks like it may also potentially include private data, which is not ideal for publication.

[2021-06-23 18:57] yarikoptic commented on #515
ATM I do keep that content under git in the same repo or under submodule. Adding it to `.gitignore` would complicate managing it.  Indeed, those could leak protected data, thus should be added under git-annex and not shared.

both. .py copies of heuristic are "code". .txt etc -- pure provenance to establish provenance of the conversion to e.g. later locate that data on a server elsewhere.

[2021-07-07 12:14] m-petersen opened #516 "FileNotFoundError: [Errno 2] No such file or directory: '_task-rest_bold.json'"
### Summary
I try to implement bids conversion with heudiconv on our local HPC using a singularity container ( heudiconv-0.9.0). As I will work with a large cohort (>2000 subjects) I am currently implementing a parallelization across nodes via SLURM and within each node with GNU parallel with a test dataset (5 times the same subject). In doing so, a test run fails with the following error.

[code]

[2021-07-08 10:44] m-petersen commented on #516
To follow up, using `--bids notop` heudiconv runs without issues.

[2021-07-08 18:48] yarikoptic commented on #516
ha -- situation is a bit different from #362 -- I guess while the `populate_aggregated_jsons` (locked) is going through the long list of .json files it got, some other parallel process managed to remove that file (may be to just recreate with updated content or smth like that).  Do not see a clear way out yet besides making some `load_json_wait` to be used there which would also wait for the file

[2021-07-08 19:00] yarikoptic commented on #516
I thought to suggest meanwhile that you could run all individual conversions indeed with `notop` but then "conclude" with a single run of `--command populate-templates` but I saw that `add_participant_record` is not ran then, so you would end up with a not filled out `participants.tsv` :-/

[2021-07-08 19:06] yarikoptic commented on #362
well, #348 was merged and #516 seems to be a different issue.  I will close this one, but if someone runs into it again (e.g. the locking of #348 is not good enough for distributed FS or smth like that) -- chime in and we will reopen it.

[2021-07-08 19:06] #362 closed

[2021-07-09 12:52] m-petersen commented on #516
Hi Yaroslav,

thanks for your help.

Indeed, it isn't something I can try easily with my setup. Nevertheless, `--bids notop` works fine and I fill the participants.tsv afterwards.

[2021-07-15 12:50] Vincent-wq opened #517 "AttributeError: 'Dataset' object has no attribute 'StackID' in PPMI dataset conversion"
### Summary

import os
# Heuristics created by Vincent for Abbas dataset sample6.
# 27th Nov. 2019
# updated 23th Jan. 2020
def create_key(template, outtype=('nii.gz',), annotation_classes=None):
    if template is None or not template:
        raise ValueError('Template must be a valid format string')
    return template, outtype, annotation_classes

def infotodict(seqinfo):
    """Heuristic eval

[2021-07-15 13:51] yarikoptic commented on #517
since other subjects converted ok -- smells like some broken DICOMs? it refers to https://dicom.innolitics.com/ciods/vl-whole-slide-microscopy-image/vl-whole-slide-microscopy-image-multi-frame-functional-groups/52009229/00209111/00209056 I guess.

I would start by comparing files size/number of that subject to some other subject -- might immediately give a hint may be?

[2021-07-17 16:54] bpinsard opened #518 "CMRR-MB bold magnitude/phase in separate series"
### Summary

We use the CMRR multiband sequence for BOLD functional scans, and recently activated the export of phase data.
It results in 1 series for the SBRef which includes 1 magnitude + 1 phase image, but the accelerated BOLD volumes are exported as 2 separate series: 1 for magnitude and one for phase.

With our heuristics, that was derived from reproin one a few years back, it results in the

[2021-07-27 15:11] bpinsard opened #519 "inconsistent Seqinfos when extracted from tarfile with mag+phase SBRef"
### Summary

Running heudiconv on a tarfile with CMRR-MB BOLD with mag+phase export, the SBRef sometimes get seqinfos with `ImageType` `M`, and sometimes with `ImageType` `P`, causing trouble when writing the heuristics (related to #518, where for some series, I need to assign the `part-` BIDS tag in the heuristics). When running it on the separately extracted tarball it is consistent.
It seems th

[2021-07-28 14:47] Vincent-wq commented on #517
Hi yarikoptic,
Thanks for you fast feedback, I just got the chance to get back to this dataset.
I have checked the dicom header of this subject, but I did not find 'StackID' feature in the dicom headers. The only unusual thing for this subject is that he has only 1 large dicom file within the dicom dir and it contains all the slices to give you a good quality 3D  T1 image. This subject is sub-3544

[2021-08-10 20:10] psadil commented on #479
Hi @yarikoptic . I think that I'm now working on the same dataset that you were helping to convert. What do you think about having heudiconv using the private tag (0019,10B3) to automatically attempt creating bids-compliant AP/PA images? From above:

I only have access to the one dataset, in which (0019,10B3) = 2 and the ordering appears to be PA - AP - PA - AP. In these images, the first and thir

[2021-08-10 20:21] neurolabusc commented on #479
@psadil can you send me a sample dataset directly to me (e.g. send DropBox link to the university email listed in my avatar). Can you tell me if these scans were provided to you by the ABCD, or whether they were acquired at your site using the ABCD sequences?

[2021-08-11 20:39] mr-jaemin commented on #479
@psadil @neurolabusc

I looked at one of ABCD datasets (rsfMRI_Field_Map) with the same CV12 (0019,10B3) = 2 (reverse-forward)
- The order appears to be AP(reverse)-PA(forward)-AP(reverse)-PA(forward) (see below). @psadil Could you please confirm your data?
- For GE EPI, the phase encoding polarity/direction "forward" means PA direction (CV pepolar=0). The "reverse" means AP direction (CV pepolar=

[2021-08-11 21:34] neurolabusc commented on #479
@mr-jaemin  thanks for the sample dataset! I have implemented a kludge with  dcm2niix developmental branch (v1.0.202100811)described [here](https://github.com/rordenlab/dcm2niix/issues/532). A minimal build on a Linux/macOS computer would look like this:

[code]

The examples you provided demonstrate the cases of CV12 (0019,10B3) = 2 and 3. I would be interested in seeing an example where CV12 = 1

[2021-08-13 11:41] psadil commented on #479
@mr-jaemin thanks for this information. Yes, I can confirm that this order matches our data

[2021-08-16 14:08] Terf opened #520 "Non BIDS-complaint suffixes when using --bids flag"
### Summary

After converting a large clinical dataset with heudiconv I'm am seeing many files with odd suffixes.

Some files have a heudiconvXXX suffix, which appears to be [logic added in v0.9.0](https://github.com/nipy/heudiconv/pull/485), as you can see the difference between 0.8.0 and 0.9.0:

[code]

I ended up renaming these files to remove the suffix (incrementing the run number if that cau

[2021-08-19 14:55] neurolabusc opened #521 "New dcm2niix release candidate"
dcm2niix is updated twice per year, and the [Fall 2021 release candidate](https://github.com/rordenlab/dcm2niix/issues/534) has been announced. I would be grateful if any heudiconv users could validate this version to identify any problems.

[2021-09-03 15:00] burdinskid13 commented on #516
I ran into the same issue as the original poster @m-petersen -- has any solution for this been implemented yet?

[2021-09-13 17:20] burdinskid13 commented on #362
Hi there, I am running into the same issue as the original poster. I am not sure how I should manipulate the heudiconv lock in order to resolve this for myself. Could you please help @yarikoptic or @mgxd?

[2021-09-13 17:55] mgxd commented on #516
@burdinskid13 it looks like this bug is still around - the best workaround for now seems to be https://github.com/nipy/heudiconv/issues/516#issuecomment-877164063

[2021-09-13 18:42] yarikoptic commented on #362
@burdinskid13 just to make sure -- you are using 0.9.0 heudiconv or 0.5.4 as original poster?

[2021-09-13 19:15] yarikoptic commented on #516
sorry for the delay.  I have now implemented that workaround in the comment as https://github.com/nipy/heudiconv/pull/523 .  I think it should be safe, rapid review would be appreciated.  If no objections etc, I will merge tomorrow and kick out a fresh heudiconv version -- it has been awhile

[2021-09-14 23:48] burdinskid13 commented on #362
I am using 0.9.0 heudiconv!

[2021-09-15 13:05] m-petersen opened #524 "Some bidsification outputs are missing"
### Summary

I aim for bids conversion of T1w images for a longitudinal structural analysis using heudiconv. For most sessions of the subjects conversion is successful. However, in some cases outputs are missing, although the correct output directory (sub-xyz/ses-0/anat) is created, the DCM I want to convert is mentioned in .heudiconv/info/dicominfo.tsv (
dim1 | dim2 | dim3 | dim4 | TR | TE | prot

[2021-09-15 13:40] yarikoptic commented on #524
errors are there:
[code]

[search](https://github.com/nipy/heudiconv/search?q=Each+element+of+the+%27source_names%27+trait+of+a+Dcm2niixInputSpec+instance+must+be+a+pathlike+object+or+string+representing+an+existing+file%2C+but+a+value) on that error seems to bring no hits here among issues -- "congratulations", seems to be a new one. Most likely some race condition somewhere unless you will find

[2021-09-15 14:08] m-petersen commented on #524
Hi Yaroslav,

apologies. Blame my tired eyes ;)

[code]

The dcm file exists in the tarball. I'll rerun incomplete subjects individually to look whether race condition could be the culprit.

[2021-09-15 14:21] m-petersen commented on #524
Once again, thanks for your help. Running subjects individually yields the expected bidsification.

[2021-09-15 14:37] yarikoptic commented on #524
at least you have a workaround.  ATM I have no clear idea on what could be racing with what given that  eare talking about random temp directories... it is all odd.  the only thing I would have checked -- size under that `/tmp` across all those hosts where jobs were running/failed (didn't check if log has that info --  we might want to add a hostname into logs!)

[2021-09-15 17:55] #516 closed

[2021-09-16 14:59] yarikoptic opened #526 "a command to list DICOM attributes of interest in a pile of DICOMs"
attn @loj

quite often it might be very handy to get a quick idea about some metadata within the pile of DICOMs.  E.g. for establishing a heuristic or mapping into reproin heuristic [like here](https://github.com/ReproNim/reproin/issues/18#issuecomment-834598084) might be relevant to quickly list values of `series_id, protocol_name, image_type`.  ATM it requires to run `-c none` to get the dicomin

[2021-09-16 15:23] satra commented on #526
perhaps this is a better place for something like this: https://github.com/open-dicom/dicom_parser also dicom_parser is where the grouping function of dcmstack is headed, so may be worthwhile thinking of a removal of dcmstack and using dicom_parser.

[2021-09-16 18:06] yarikoptic commented on #520
Sorry for the delay!  I was about to release 0.10.0 and spotted that you referenced https://github.com/nipy/heudiconv/pull/485 as a possible reason.

they aren't because we do not know how those files differ -- what does the heuristic you use (which one?) do/tell them to be named? what is the difference between them -- just a `run`? then heuristic should instruct to add `_run` or if you used repro

[2021-09-22 14:59] Terf commented on #520
@yarikoptic thanks for the response! I'm a bit confused though, are you saying the heudiconvXXX suffixes should only appear when the heuristic doesn't distinguish between two images _and_ doesn't include a `run` parameter in the heuristic, or is the latter point irrelevant? My heuristic defines the template strings fed to `create_key` like `'sub-{subject}/{session}/dwi/sub-{subject}_{session}_acq-

[2021-09-22 15:46] yarikoptic commented on #520
Did you have two sequences with the same protocol name?

[2021-09-22 15:49] yarikoptic commented on #520
If it was a single sequence, such had eg original + filtered or otherwise processed one, then your heuristic needs to pay attention to such processed/derivative files

[2021-09-24 17:14] Terf commented on #520
@yarikoptic I uploaded the full heuristic here: https://gist.github.com/Terf/89975b5aaaac65217c6204b886fae975

Thanks for taking a look! The two sequences do have the same protocol name, so I'm looking for a way to get the output filenames to be identical except for an incremented run number.

[2021-09-24 19:09] yarikoptic commented on #520
will have a look.

that is what you are to do in your heuristic. once again -- can have a look at reproin heuristic on that.

[2021-09-28 04:38] mdefende opened #528 "Singularity Error: ModuleNotFoundError: No module named 'numpy.testing.decorators'"
### Summary

Singularity containers do not seem to have the numpy.testing.decorators module included.

I built the container using the command `singularity pull docker://nipy/heudiconv:0.9.0`. Using `singularity run heudiconv.sif --version` returns the error in the title. This seems to be the case with versions 0.9.0, 0.8.0, 0.7.0. I also tried `singularity pull docker://nipy/heudiconv` as I belie

[2021-10-11 19:10] yarikoptic commented on #340
I think for 0.10.0 we addressed/mitigated all known "collisions" between parallel tasks and I would expect this issue to be resolved now.  But feel welcome to reopen if you still observe such situations with 0.10.0

[2021-10-11 19:10] #340 closed

[2021-10-25 16:47] butellyn opened #530 "WARNING: Failed to detect fullfilled BIDS layout."
### Summary

Hello! My output from running Heudiconv does not follow the BIDS directory structure. I am getting warnings, including "WARNING: Failed to detect fullfilled BIDS layout." I googled this error, and found https://neurostars.org/t/heudiconv-single-session-problems-with-heuristic-py/4910/3 and https://github.com/nipy/heudiconv/issues/179. I couldn't find `.auto/.edit.txt` and I did not pe

[2021-10-25 18:04] #530 closed, assigned to nobody

[2021-10-27 14:35] BlackHoleExelion opened #531 "How to define a custom grouping in heuristic file?"
When using ```--grouping custom```, I got an error saying ```RuntimeError: Custom grouping is not defined in heuristic```. But there is not much info in both heudiconv doc and tutorials about how to define a custom grouping. Could you please show me how to do it? Thanks!

[2021-10-27 17:33] tjhendrickson opened #532 "Converting physiological recordings"
### Summary

I cannot seem to figure out how to convert physiological recordings present within the DICOM folder from a neuroimaging dataset. The physiological recordings are organized as one DICOM file within its own folder and with the same naming scheme as the BOLD it relates to with "PhysioLog" suffixed. The heuristic script below failed to find this and even when I run `convertall.py` as the

[2021-11-02 18:12] pvelasco commented on #532
@tjhendrickson , could you show an example of the DICOM folder organization?  Is it something like this?:
[code]
Also, can you post the contents of the `.heudiconv/<subID>/info/dicominfo.tsv` and `.heudiconv/<subID>/info/<subID>.auto.txt` files (at the root of the output folder)?

[2021-11-02 19:13] tjhendrickson commented on #532
@pvelasco Thanks for getting back to me. Yes, the DICOMs are organized in the way you suspected.
Here is an example:
`20211001-ST001-SUB1000101ses1/MR-SE030-rest_ep2d_bold_ME_16MIN_PhysioLog:
MR-ST001-SE030-0001.dcm

20211001-ST001-SUB1000101ses1/MR-SE031-rest_ep2d_bold_ME_16MIN2_SBRef:
MR-ST001-SE031-0001.dcm      MR-ST001-SE031-EC3-0001.dcm  MR-ST001-SE031-EC5-0001.dcm
MR-ST001-SE031-EC2-0001.dc

[2021-11-02 19:14] pvelasco commented on #532
Actually, the physio data extraction has not been added yet to the `master` branch.  PR #446 addresses it, but it is still under review.  You can test that PR, to see if it works with your data (still, your `heuristic.py` file will need some changes, like adding an extra argument (`outtype = ('physio',)`) to all the `create_key` calls for physio files.

[2021-11-03 17:19] pvelasco commented on #532
Looking at the `dicominfo` file, it didn't "see" series number 30 (the one with the PhysioLog DICOM).  I'm not sure why.
Do you mind posting the full `heudiconv` call?
I assume these DICOMs with the physio in them come from the CMRR SMS sequence. Is that correct?

[2021-11-24 21:35] brussj commented on #502
Related to this topic, I can give an example where adjusting dicominfo would be helpful:

We have a GE Discovery MR750W scanner and data from two different software versions, DV25 and DV26.  The scanner was later upgraded to a Signa Premiere, software version RX28.  For our T1 BRAVO sequences, the data gets stored in both the original/unfiltered form as well as the processed/PURE (motion-corrected

[2021-12-05 00:23] andrew-yian-sun opened #536 "scans.tsv created then removed during conversion, prompting FileNotFoundError"
### Summary

I am running the conversion step of heudiconv. This conversion has worked for a previous participant. In subsequent participants, however, it stops sometime during the conversion. Strangely, I can see that a scans.tsv file is created, but then it is removed, therefore prompting a FileNotFoundError.

Here is the command I ran:
[code]

Here is the heuristic I used:
[code]
Conversion log

[2021-12-05 04:04] yarikoptic commented on #536
does that folder exists (mounted inside container)?

`'a'` should create file if it exists. Error though is a bit "misleading" since really it shouldn't matter if file exists -- it fails if folder doesn't:

[code]

indeed that function first reads/removes the file if it exists and then rewrites with new information (not sure why we use `'a'` and not just `'w'` ATM, may be legacy)

[2021-12-05 04:42] andrew-yian-sun commented on #536
Which folder are you asking about specifically? Do you mean the outdir path? I ran the following:
[code]
then `ls base` inside the container does show `dataOLD_BIDS_test`

Let me know what I should check.

[2021-12-05 04:48] andrew-yian-sun commented on #536
If you mean `/base/dataOLD_BIDS_test/sub-0117/ses-1/`, yes, that does exist.

[2021-12-05 04:57] yarikoptic commented on #536
I am still lost at what might be going on. I believe there is --pdb option - add it and you should end up in pdb debugger when that exception happens. Try to call that open, or somehow otherwise investigate what might be going on. Add your said other subjects were ok? It is was just one subject ok, and the 2nd fails?

[2021-12-07 21:12] tjhendrickson opened #537 "Failure when DICOM data does not have attribute 'AcquisitionDate'"
### Summary
 import pdb

def create_key(template, outtype=('nii.gz','dicom'), annotation_classes=None): #), annotation_classes=None):
    if template is None or not template:
        raise ValueError('Template must be a valid format string')
    return (template, outtype, annotation_classes)

def infotodict(seqinfo):
    """Heuristic evaluator for determining which runs belong where

    allowed t

[2021-12-07 22:57] #536 closed

[2021-12-07 22:58] andrew-yian-sun commented on #536
Strangely, I tried the same exact code today and it seem to have worked. No idea why.

[2021-12-08 18:29] pvelasco commented on #537
It looks like the [`AcquisitionDate` is optional](https://dicom.innolitics.com/ciods/cr-image/general-image/00080022), while [`StudyDate` is mandatory](https://dicom.innolitics.com/ciods/cr-image/general-study/00080020).

`AcquisitionDate` is read here:
https://github.com/nipy/heudiconv/blob/0e0f9e33a3ad4dc9bdce33ff7da12ed660e9abd9/heudiconv/dicoms.py#L91

@yarikoptic ,
Should we modify that line

[2021-12-08 18:41] tjhendrickson commented on #537
Another comment on the particular DICOM data that I am dealing with is that identifying information such acquisition and study date has been stripped, so having a feature that allows for "date" to be blank would be helpful.

[2021-12-08 19:43] yarikoptic commented on #537
hm... may be for that particular line of use it would work indeed although I guess "StudyDate" would be the same for all acquisitions, so acquisitions at the day boundary might have errorneously the same date, which might bring confusion.  But that is only the first step in that function (`get_dicom_series_time`) which whole purpose is to provide series_time, so it will also look at SeriesTime, an

[2021-12-08 19:49] tjhendrickson commented on #537
As a feature, returning `None` if something doesn't exist makes sense to me.

[2021-12-08 20:10] yarikoptic commented on #537
What scanner is that? do you have some smallish dicom(s) which you could share (e.g. on phantom) so we could fix/test?

[2021-12-08 20:14] araikes opened #538 "Updated Docker/Singularity"
### Summary

Is there an v 0.10.0 Docker image? Trying to run this on our HPC and it looks like DockerHub is only updated to 0.9.0.

Thanks

### Platform details:

Choose one:
- [ ] Local environment

- [x ] Container

- Heudiconv version:

[2021-12-08 20:20] yarikoptic commented on #538
eh, with docker hub stopping providing free builds from github repos, we fell out of date.  I guess I need to build one and push manually for now. Later we should automate that.

[2021-12-08 21:00] tjhendrickson commented on #537
@yarikoptic, let me speak to the owners of the data whether there are any data use certifications/authentications at play. I'll be in touch!

[2021-12-10 12:19] ibrwr opened #539 "ERROR: Embedding failed"
### Summary

Hi all,

My conversion seem to go well, i get nifti and populated json files. But very often I get the error "ERROR: Embedding failed: Exception raised while executing Node embedder."

Do I understand correctly that this is dcmstack crashing on some values it found in the dicom file and therefore the only result is that some extra information is missing in the json file but to solve i

[2021-12-22 16:54] tjhendrickson commented on #537
@yarikoptic, I was able to get some phantom data from the same scanner and with the same de-identification routines applied.

Attached are DICOM folders representing three localizers. Let me know if you have any questions!
[phantom.zip](https://github.com/nipy/heudiconv/files/7764069/phantom.zip)

[2022-01-18 20:12] tjhendrickson commented on #537
Hi @yarikoptic, just checking in on the status of this.

Best,

-Tim

[2022-01-20 18:23] sajjadtorabian commented on #532
I'm checking in to see if there has been any update on this. I guess since #446 is still open, the best way to convert physio is directly through [bidsphysio](https://github.com/cbinyu/bidsphysio), right? I'm thinking to run heudiconv on everything except physio, and then on top of it run bidsphysio

[2022-01-21 17:18] pvelasco commented on #537
Using @tjhendrickson's data, the only place where the code failed was not where I mentioned above, but in
https://github.com/nipy/heudiconv/blob/0e0f9e33a3ad4dc9bdce33ff7da12ed660e9abd9/heudiconv/dicoms.py#L319 (in `get_dicom_series_time`).

As far as I can tell, this function is used to return the time a particular dicom series was acquired, to set that time in the dicom tarballs, to ensure repro

[2022-02-01 19:11] andrew-yian-sun opened #541 "Automatic placement of `echo` results in BIDS-invalid format"
### Summary

I'm trying to get the following BIDS-valid output:
`sub-0061_echo-1_part-mag_MEGRE.nii.gz` Related Github issue at bids-specification: [https://github.com/bids-standard/bids-specification/issues/979](url)

However, it seems like `echo` is automatically generated by HeuDiConv to appear directly before `_MEGRE`, making it BIDS invalid (`echo` has to come before `part`).

The relevant pa

[2022-02-01 19:26] pvelasco commented on #541
Hi @andrew-yian-sun ,
I can work on a fix. However, to test it, would you be able to provide a sample dataset?
Ideally, a very low resolution, just a few echoes, on a phantom.
Thanks,
-Pablo

[2022-02-01 21:36] andrew-yian-sun commented on #541
@pvelasco Yes, I'll try to get that to you tomorrow. Thanks!

[2022-02-02 00:50] #519 closed

[2022-02-02 17:51] tsalo commented on #541
@pvelasco It looks like the keyword you used in #542 didn't auto-close this issue. Now that #542 is merged, can this be closed?

[2022-02-02 18:02] pvelasco commented on #541
I think so.

[2022-02-02 18:03] tsalo commented on #541
Sounds good. I'll close this now, but @andrew-yian-sun if you find that the problems persists, please feel free to follow up here.

[2022-02-02 18:03] #541 closed

[2022-02-03 05:03] butellyn commented on #377
Is there a solution to this? I have a single study that just happens to have varying study identifiers.

[2022-02-03 05:25] butellyn commented on #377
`--grouping all`: https://github.com/nipy/heudiconv/pull/359

[2022-02-07 19:21] yarikoptic commented on #452
@pvelasco -- ha, I started to RF to address this issue and I see that you have implemented BIDSFile helper already in https://github.com/cbinyu/heudiconv/commit/2886525ccff3c0592f18490b9cface731a148661 etc.  So I neither "steal" nor "duplicate" your work, could you please add your code to https://github.com/nipy/heudiconv/tree/enh-bids to replace my initial class https://github.com/nipy/heudiconv/

[2022-02-10 18:35] butellyn opened #545 "Invalid tag errors"
### Summary

I am running heudiconv v 0.9.0 using the corresponding docker image. After ~10 hours running, heudiconv happened upon a dicom that resulted in an [invalid tag error](https://docs.openrem.org/en/0.8.0/trouble_dictionary.html). The exact error message was "KeyError: "Unknown DICOM tag (3f3c, 6d78) - can't look up VR"". There's a workaround in the OpenREM documentation, but it involves m

[2022-02-18 02:14] #460 closed

[2022-03-01 21:55] butellyn commented on #184
I am using a singularity image of [heudiconv 0.9.0 from Dockerhub](https://hub.docker.com/layers/nipy/heudiconv/0.9.0/images/sha256-42a4ab94a4af122e1031648f28dbc40a05b8b6cd6e720c7e94e539e93a519636?context=explore), and am getting the same error. Has this issue been fixed in heudiconv 0.9.0? Here is my call:

[code]

[2022-03-01 23:28] yarikoptic commented on #184
Eh, @mgxd do you have any recollection why/how you closed this issue?

Having said that, I haven't seen this issue for long time. @butellyn , do you have full traceback? I don't see you using option to not bind HOME - could you use it with empty HOME bound? Do you see the same error using 0.9.0 image from http://datasets.datalad.org/?dir=/repronim/containers/images/repronim

[2022-03-02 18:50] butellyn commented on #184
Yes, see the full traceback below. It isn't identical to the example, but they both have an issue with `source_names`. Not sure what this means. What do you mean by an "empty HOME bound"? Should I just bind my home directory as follows: `-B /home/erb9722`? I have to install datalad, but I'll let you know.

[code]

[2022-03-02 19:14] yarikoptic commented on #184
probably never mind that since from traceback I see that it is not some rogue nipype from `~/.local`

sorry for being not descriptive enough -- no need to install datalad (although always encouraged), just click on that image in that page and download that http://datasets.datalad.org/repronim/containers/images/repronim/repronim-reproin--0.9.0.sing .   But the question is whether you do have `/base

[2022-03-02 19:23] butellyn commented on #184
Oh, odd. So the file exists here outside the container: `/projects/b1108/studies/mwmh/data/raw/neuroimaging/dicoms/sub-MWMH219/ses-1/SCANS/1/DICOM/MWMH219.MR.fMRI_STUDIES_MILLER.1.1.20160601.091443.v9f0wy.dcm`. I am not sre why the `data/raw/neuroimaging` directories aren't there. Did I mess something up with my bind?

[2022-03-02 19:33] yarikoptic commented on #184
any symlinks involved along the path, i.e. is `/projects/b1108/studies/mwmh/data/raw/neuroimaging` may be a symlink?  I would run smth like
[code]
on that path and see if nothing is a curious symlink

[2022-03-02 19:36] butellyn commented on #184
Hm, I don't see why it would be. I created all of the directories after `/projects/b1108/`. Here is the output I got after running that command:

[code]

[2022-03-02 21:31] yarikoptic commented on #184
I would have tried to enter bash inside and see "first hand" either that path or what along the way exists or not etc

[code]

[2022-03-02 21:57] butellyn commented on #184
Just went into the container and `/base/dicoms/sub-MWMH219/ses-1/SCANS/1/DICOM/MWMH219.MR.fMRI_STUDIES_MILLER.1.1.20160601.091443.v9f0wy.dcm` does not exist there, but `/base/data/raw/neuroimaging/dicoms/sub-MWMH219/ses-1/SCANS/1/DICOM/MWMH219.MR.fMRI_STUDIES_MILLER.1.1.20160601.091443.v9f0wy.dcm` does. So I guess the question is, why does heudiconv think the former file should exist?

[2022-03-14 12:17] vinferrer opened #548 "input variable is set instead of list in convert.py file, update_multiecho_name function"
### Summary

Hello there,
I notice a posible bug in heudiconv code, it affects to the `convert.py` file `update_multiecho_name`.
It seems like somehow the input variable `echo_times` can be a `set` instead of a `list` therefore the line:
https://github.com/nipy/heudiconv/blob/cb2fd912b8310d7022e9358a84c3b589fe3c07e8/heudiconv/convert.py#L350
fails because the method `index` exists for list object

[2022-03-14 18:18] tjhendrickson commented on #537
Just checking up on this.

Best,

-Tim

[2022-03-24 19:56] tsalo commented on #548
#461 should have fixed this (also reported in #460). Can you try it with the current version from GitHub?

[2022-03-25 09:26] vinferrer commented on #548
Hello @tsalo, good to see you. It seems that the version from our cluster wasn't update so I installed the github version in a conda enviroment and everything seems to work. Let's close this.
Thank you in any case.
Cheers,

[2022-03-25 09:26] #548 closed

[2022-03-25 13:49] tsalo commented on #548
👋 Nice seeing you too.

I think it might be time for a new release, because this bug will probably affect everyone using heudiconv on multi-echo or complex-valued data. @yarikoptic do you think a 0.10.1 release would be worth doing?